{{header}}
<div id="error-not-found" class="container">
	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
			<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		{% endfor %}
	</ul>
	<div class="row">
		{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-4 col-md-4 col-lg-6 col-xxl-12' %}			
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-8 col-md-9 col-lg-9 col-xxl-16' %}
		{% else  %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{class}}">
			{{content_top}}
			<h1>{{text_error}}</h1>
			<p>{{text_error}}</p>
			<div class="buttons clearfix">
				<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
			</div>
			{{content_bottom}}
		</div>
		{{column_right}}
	</div>
</div>
{{footer}}
