<div id="cart">
	<button data-toggle="dropdown" class="btn btn-link dropdown-toggle">
		<i class="fa fa-shopping-bag"></i>
		<span id="cart-total">{{items}}</span>
	</button>
	<ul class="dropdown-menu pull-right">
		{% if products or vouchers %}
			<li>
				<table class="cart table">
					{% for product in products %}
						<tr>
							<td class="image">
								{% if product.thumb %}
									<a href="{{product.href}}"><img src="{{product.thumb}}" alt="{{product.name}}" title="{{product.name}}" class="img-thumbnail" /></a>
								{% endif %}
							</td>
							<td class="name text-left">
								<a href="{{product.href}}">{{product.name}}</a>
								{% if product.option %}
									{% for option in product.option %}
										<br />- <small>{{option.name}} {{option.value}}</small>
									{% endfor %}
								{% endif %}
								{% if product.recurring %}
									<br />- <small>{{text_recurring }} {{product.recurring}}</small>
								{% endif %}
							</td>
							<td class="quantity text-right">
								<input type="text" name="quantity[{{product.cart_id}}]" value="{{product.quantity}}" onchange="cart.update('{{product.cart_id}}', $(this).val());" size="1" class="form-control" /> 
								<span>
									<i class="fa fa-plus btn btn-default" onclick="cart.update('{{product.cart_id}}', parseFloat($(this).parent().prev().val())+1, {{product.product_id}});"></i>
									<i class="fa fa-minus btn btn-default" onclick="cart.update('{{product.cart_id}}', parseFloat($(this).parent().prev().val())-1, {{product.product_id}});"></i> 
								</span>
							</td>
							<td class="total text-right">{{product.total}}</td>
							<td class="remove text-center"><button type="button" onclick="cart.remove('{{product.cart_id}}', {{product.product_id}});" title="{{button_remove}}" class=""><i class="fa fa-times"></i></button></td>
						</tr>
					{% endfor %}
					{% for voucher in vouchers %}
						<tr>
							<td class="text-center"></td>
							<td class="text-left">{{voucher.description}}</td>
							<td class="text-right">x&nbsp;1</td>
							<td class="text-right">{{voucher.amount}}</td>
							<td class="remove text-center"><button type="button" onclick="voucher.remove('{{voucher.key}}');" title="{{button_remove}}" class=""><i class="fa fa-times"></i></button></td>
						</tr>
					{% endfor %}
				</table>
			</li>
			<li>
				<div>
					<table class="table table-bordered">
						{% for total in totals %}
							<tr>
								<td class="text-right"><strong>{{total.title}}:</strong></td>
								<td class="text-right">{{total.text}}</td>
							</tr>
						{% endfor %}
					</table>
					<p class="text-right">
						{% if show_checkout %}
							<a href="index.php?route=checkout/uni_checkout" class="btn btn-primary">{{text_checkout}}</a>
						{% else %}
							<a href="{{cart}}"><strong><i class="fa fa-shopping-cart"></i> {{text_cart}}</strong></a>&nbsp;&nbsp;&nbsp;
							<a href="{{checkout}}"><strong><i class="fa fa-share"></i> {{text_checkout}}</strong></a>
						{% endif %}
					</p>
				</div>
			</li>
		{% else %}
			<li style="padding-top:0;border-top:none">
				<p class="text-center">{{text_empty}}</p>
			</li>
		{% endif %}
	</ul>
	<script>
		var uni_incart_products = [{% for i, product in products %}{{product.product_id}}{{i + 1 < products|length ? ','}}{% endfor %}];
	</script>
</div>