{% if modules or menu_expanded %}
	<aside id="column-left" class="col-sm-4 col-md-3 col-lg-3 col-xxl-4 hidden-xs {{route == '' or route == 'common/home' ? 'hidden-sm'}}">
		{% for module in modules %}
			{{module}}
		{% endfor %}
	</aside>
{% endif %}
