</main>
<footer>
	{{subscribe}}
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<h5><i class="{{footer_column[1].icon}}"></i><span>{{footer_column[1].heading}}</span></h5>
				<ul class="list-unstyled">
					{% if informations %}
						{% for information in informations %}
							<li><a href="{{information.href}}"><i class="fa fa-chevron-right"></i>{{information.title}}</a></li>
						{% endfor %}
					{% endif %}
					{% if footerlinks %}
						{% for footerlink in footerlinks %}
							{% if footerlink.column == 1 %}
								<li>
									{% if footerlink.link %}<a href="{{footerlink.link}}">{% endif %}
									<i class="fa fa-chevron-right"></i>{{footerlink.title}}
									{% if footerlink.link %}</a>{% endif %}
								</li>
							{% endif %}
						{% endfor %}
					{% endif %}
				</ul>
			</div>
			<div class="col-sm-6 col-md-3">
				<h5><i class="{{footer_column[2].icon}}"></i><span>{{footer_column[2].heading}}</span></h5>
				<ul class="list-unstyled">
					{% if footerlinks %}
						{% for footerlink in footerlinks %}
							{% if footerlink.column == 2 %}
								<li>
									{% if footerlink.link %}<a href="{{footerlink.link}}">{% endif %}
									<i class="fa fa-chevron-right"></i>{{footerlink.title}}
									{% if footerlink.link %}</a>{% endif %}
								</li>
							{% endif %}
						{% endfor %}
					{% endif %}
				</ul>
			</div>
			<div class="clearfix visible-sm"></div>
			<div class="col-sm-6 col-md-3">
				<h5><i class="{{footer_column[3].icon}}"></i><span>{{footer_column[3].heading}}</span></h5>
				<ul class="list-unstyled">
					{% for footerlink in footerlinks %}
						{% if footerlink.column == 3 %}
							<li>
								{% if footerlink.link %}<a href="{{footerlink.link}}">{% endif %}
								<i class="fa fa-chevron-right"></i>{{footerlink.title}}
								{% if footerlink.link %}</a>{% endif %}
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
			<div class="col-sm-6 col-md-3">
				<h5><i class="{{footer_column[4].icon}}"></i><span>{{footer_column[4].heading}}</span></h5>
				<ul class="list-unstyled">
					{% for footerlink in footerlinks %}
						{% if footerlink.column == 4 %}
							<li>
								{% if footerlink.link %}<a href="{{footerlink.link}}">{% endif %}
								<i class="fa fa-chevron-right"></i>{{footerlink.title}}
								{% if footerlink.link %}</a>{% endif %}
							</li>
						{% endif %}
					{% endfor %}
				</ul>
				<ul class="address list-unstyled">
					{% if footer_address %}<li><i class="fa fa-map-marker"></i>{{footer_address}}</li>{% endif %}
					{% if footer_open %}<li><i class="fa fa-calendar"></i>{{footer_open}}</li>{% endif %}
					{% if footer_phone %}<li><i class="fa fa-phone"></i>{{footer_phone}}</li>{% endif %}
					{% if footer_mail %}<li><i class="fa fa-envelope"></i>{{footer_mail}}</li>{% endif %}
				</ul>
			</div>
			{% if footer_text %}
				<div class="col-sm-12 hidden-xs">
					<div class="text">{{footer_text}}</div>
				</div>
			{% endif %}
		</div>
	</div>
	<div class="socials-payments">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<div class="socials">
						{% if socials %}
							{% for social in socials %}
								<a href="{{social.link}}" target="_blank" title="" ><i class="fab {{social.icon}}"></i></a>
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<hr class="visible-xs visible-sm" />
					<div class="payments">
						{% for icon in payment_icons %}
							<div class="{{icon}}"></div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<script>var uniJsVars = JSON.parse(atob('{{uni_js_vars}}'));</script>

<div id="fly-block">
	{% if show_wishlist %}
		<div class="fly-wishlist {{text_wishlist > 0 ? 'visible'}} {{text_compare > 0 ? 'margin'}}" onclick="window.open('{{wishlist_href}}')" title="{{text_fly_wishlist}}" data-toggle="tooltip">
			<i class="fas fa-heart"></i><span class="total">{{text_wishlist}}</span>
		</div>
	{% endif %}
	{% if show_compare %}
		<div class="fly-compare {{text_compare > 0 ? 'visible'}}" onclick="window.open('{{compare_href}}')" title="{{text_fly_compare}}" data-toggle="tooltip">
			<i class="fas fa-align-right"></i><span class="total">{{text_compare}}</span>
		</div>
		<div class="clearfix"></div>
	{% endif %}
	{% if show_fly_callback %}
		<div class="fly-callback" onclick="uniRequestOpen()" {{fly_callback_text ? 'title="'~fly_callback_text~'" data-toggle="tooltip"'}}>
			<i class="fa fa-phone"></i>
		</div>
	{% endif %}
	<div class="scroll-up">
		<i class="fa fa-chevron-up" onclick="scroll_to('body')" aria-hidden="true"></i>
	</div>
	<script>
		$(function() {
			$(window).scroll(function(){		
				$(this).scrollTop() > 190 ? $('.scroll-up').addClass('show') : $('.scroll-up').removeClass('show');
			});
		});
	</script>
</div>
{{notification}}
</body>
</html>