{% if languages|length > 1 %}
	<div class="pull-right">
		<form action="{{action}}" method="post" enctype="multipart/form-data" id="language">
			<div class="btn-group">
				<button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-globe" title="{{language.name}}"></i>
					<span class="hidden-xs">{{text_language}}</span>
					<i class="fa fa-caret-down"></i>
				</button>
				<ul class="dropdown-menu dropdown-menu-right">
					{% for language in languages %}
						<li>
							<a data-code="{{language.code}}"><img src="{{HTTPS_SERVER}}catalog/language/{{language.code}}/{{language.code}}.png" alt="{{language.name}}" title="{{language.name}}" /> {{language.name}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<input type="hidden" name="code" value="" />
			<input type="hidden" name="redirect" value="{{redirect}}" />
		</form>
	</div>
{% endif %}