{{header}}
<style>#menu {border-radius:4px} #menu.menu2 .navbar-collapse {display:none !important;}</style>
<div class="container">
	<div class="row">
		<div class="col-12">{{message}}</div>
	</div>
</div>
{{footer}}