<div class="search">
	<div class="search-form input-group">
		<div class="cat_id input-group-btn">
			<button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown"><span>{{text_search_all}}</span><i class="fa fa-chevron-down"></i></button>
			<input type="hidden" name="filter_category_id" value="" />
			<ul class="dropdown-menu">
				<li data-id=""><a>{{text_search_all}}</a></li>
				{% for category in categories %}
					<li data-id="{{category.category_id}}"><a>{{category.name}}</a></li>
				{% endfor %}
			</ul>
		</div>		
		<input type="text" name="search" value="{{search}}" placeholder="{{text_search}}" aria-label="Search" class="form-control input-lg" />
		<button type="button" class="search-btn"><i class="fa fa-search"></i></button>
	</div>
</div>