{{header}}
{{column_left}}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-dashboard" data-toggle="tooltip" title="{{button_save}}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{cancel}}" data-toggle="tooltip" title="{{button_cancel}}" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			<h1>{{heading_title}}</h1><br />
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li><a href="{{breadcrumb.href}}">{{breadcrumb.text}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{error_warning}}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{text_edit}}</h3>
			</div>
			<div class="panel-body">
				<form action="{{action}}" method="post" enctype="multipart/form-data" id="form-dashboard" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-status">{{entry_limit}}</label>
						<div class="col-sm-10">
							<input type="text" name="dashboard_uni_request_limit" value="{{dashboard_uni_request_limit ? dashboard_uni_request_limit : 5}}" class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-width">{{entry_width}}</label>
						<div class="col-sm-10">
							<select name="dashboard_uni_request_width" id="input-width" class="form-control">
								{% for column in columns %}
									{% if column == dashboard_uni_request_width %}
										<option value="{{column}}" selected="selected">{{column}}</option>
									{% else %}
										<option value="{{column}}">{{column}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-status">{{entry_status}}</label>
						<div class="col-sm-10">
							<select name="dashboard_uni_request_status" id="input-status" class="form-control">
								<option value="1" {{dashboard_uni_request_status ? 'selected="selected"'}}>{{text_enabled}}</option>
								<option value="0" {{not dashboard_uni_request_status ? 'selected="selected"'}}>{{text_disabled}}</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-sort-order">{{entry_sort_order}}</label>
						<div class="col-sm-10">
							<input type="text" name="dashboard_uni_request_sort_order" value="{{dashboard_uni_request_sort_order}}" placeholder="{{entry_sort_order}}" id="input-sort-order" class="form-control" />
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{{footer}}