{{header}}
<div class="container">
	<ul class="breadcrumb {{'information/information' in menu_schema ? 'col-md-offset-3 col-lg-offset-3 col-xxl-offset-4'}}">
		{% for key, breadcrumb in breadcrumbs %}
			{% if i + 1 < breadcrumbs|length %}
				<li><a href="{{breadcrumb.href}}">{{breadcrumb.text}}</a></li>
			{% else %}
				<li>{{breadcrumb.text}}</li>
			{% endif %}
		{% endfor %}
	</ul>
	<div class="row">
		{{column_left}}
		{% if column_left and column_right %}
			{% set class = 'col-sm-4 col-md-4 col-lg-6 col-xxl-12' %}			
		{% elseif column_left or column_right %}
			{% if 'information/information' in menu_schema and column_left is empty %}
				{% set class = 'col-sm-8 col-md-9 col-lg-6 col-xxl-12 col-md-offset-3 col-lg-offset-3 col-xxl-offset-4' %}
			{% else  %}
				{% set class = 'col-sm-8 col-md-9 col-lg-9 col-xxl-16' %}
			{% endif %}
		{% else  %}
			{% if 'information/information' in menu_schema %}
				{% set class = 'col-sm-8 col-md-9 col-lg-9 col-xxl-16 col-md-offset-3 col-lg-offset-3 col-xxl-offset-4' %}
			{% else  %}
				{% set class = 'col-sm-12' %}
			{% endif %}
		{% endif %}
		<div id="content" class="{{class}}">
			{{content_top}}
				<h1 class="heading"><span>{{heading_title}}</span></h1>
				<div class="article_description">
					{{description}}
				</div>
			{{content_bottom}}
		</div>
		{{column_right}}
	</div>
</div>
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [
		{% for i, breadcrumb in breadcrumbs %}
			{
			"@type": "ListItem",
			"position": {{i+1}},
			"name": "{{i == 0 ? shop_name: breadcrumb.text}}",
			"item": "{{breadcrumb.href}}"
			{{i + 1 < breadcrumbs|length ? '},' : '}' }}
		{% endfor %}
		]
	}
</script>
<script>
	$(document).ready(function() {
		$('.article_description img').each(function() {
			var href = $(this).attr('src');
			$(this).addClass('img-responsive');
			$(this).wrap('<a href="'+href+'" class="img_popup" style="max-width:350px; overflow:auto;"></a>');
		});
		$('.article_description').magnificPopup({
			type:'image',
			delegate: 'a.img_popup',
			gallery: {
				enabled:true
			}
		});
	});
</script>
{{footer}}