{{header}}
{{column_left}}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<a onclick="$('#form').submit();" data-toggle="tooltip" title="{{button_save}}" class="btn btn-primary"><i class="fa fa-save"></i></a>
				<a href="{{cancel}}" data-toggle="tooltip" title="{{button_cancel}}" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			<h1><?php echo $heading_title; ?></h1><br />
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li><a href="{{breadcrumb.href}}">{{breadcrumb.text}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{error_warning}}<button type="button" class="close" data-dismiss="alert">&times;</button></div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> Создание/редактирование галереи</h3>
			</div>
			<div class="panel-body">
				<form action="{{action}}" method="post" enctype="multipart/form-data" id="form">
					<style>
						table tr td {padding:7px 4px}
						table tr td + td {padding:7px 0 7px 10px}
						table tr:nth-child(2n) {background: #f4f4f4;}
					</style>
					<table style="width:100%">
						<tr>
							<td><span class="required">*</span> {{entry_name}}</td>
							<td><input type="text" name="name" value="{{name}}" size="100" class="form-control" />
								{% if error_name %}
									<span class="error">{{error_name}}</span>
								{% endif %}
							</td>
						</tr>
						<tr>
							<td>{{entry_status}}</td>
							<td>
								<select name="status" class="form-control">
									<option value="1" {{status ? 'selected="selected"'}}>{{text_enabled}}</option>
									<option value="0" {{not status ? 'selected="selected"'}}>{{text_disabled}}</option>
								</select>
							</td>
						</tr>
					</table>
					<br /><br />
					<div class="tab-pane" id="tab-image">
						<div class="table-responsive">
							<table id="images" class="table table-striped table-bordered table-hover">
								<tr>
									<td class="left">{{entry_title}}</td>
									<td class="left">{{entry_link}}</td>
									<td class="left">{{entry_image}}</td>
									<td></td>
								</tr>
								{% set image_row = 0 %}
								{% for gallery in gallery_images %}
									<tr id="image-row{{image_row}}">
										<td class="left">
											{% for language in languages %}
												<div class="input-group">
													<span class="input-group-addon"><img src="language/{{language.code}}/{{language.code}}.png" title="{{language.name}}" /></span>
													<input type="text" name="gallery_image[{{image_row}}][gallery_image_description][{{language.language_id}}][title]" value="{{gallery.image_description[language.language_id].title}}" class="form-control" />
													<br />
													{% if error_gallery_image[image_row][language.language_id] %}
														<span class="error">{{error_gallery_image[image_row][language.language_id]}}</span>
													{% endif %}
												</div>
											{% endfor %}
										</td>
										<td class="left"><input type="text" name="gallery_image[{{image_row}}][link]" value="{{gallery.link}}" value="" class="form-control" /></td>
										<td class="text-left">
											<a href="" id="thumb-image{{image_row}}" data-toggle="image" class="img-thumbnail">
												<img src="{{gallery.thumb ? gallery.thumb : placeholder}}" alt="" title="" data-placeholder="{{placeholder}}" />
											</a>
											<input type="hidden" name="gallery_image[{{image_row}}][image]" value="{{gallery.image}}" id="input-image{{image_row}}" />
										</td>
										<td class="text-left"><button type="button" onclick="$('#image-row{{image_row}}').remove();" data-toggle="tooltip" title="{{button_remove}}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
									</tr>
									{% set image_row = image_row + 1 %}
								{% endfor %}
								<tr>
									<td colspan="3"></td>
									<td class="text-left"><button type="button" onclick="addImage();" data-toggle="tooltip" title="{{button_image_add}}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
								</tr>
							</table>
						</div>
					</div>
				</form>
			</div>
		</div>
    </div>
</div>
<script type="text/javascript"><!--
var image_row = {{image_row}};

function addImage() {
    html  = '<tbody id="image-row' + image_row + '">';
	html += '<tr>';
    html += '<td class="left">';
	{% for language in languages %}
	html += '<div class="input-group">';
	html += '<span class="input-group-addon"><img src="language/{{language.code}}/{{language.code}}.png" title="{{language.name}}" /></span>';
	html += '<input type="text" name="gallery_image[' + image_row + '][gallery_image_description][{{language.language_id}}][title]" value="" class="form-control" /><br />';
	html += '</div>';
	{% endfor %}
	html += '</td>';	
	html += '<td class="left"><input type="text" name="gallery_image[' + image_row + '][link]" value="" class="form-control" /></td>';	
	html += '<td class="text-left">';
	html += '<a href="" id="thumb-image'+image_row+'" data-toggle="image" class="img-thumbnail"><img src="{{placeholder}}" alt="" title="" data-placeholder="{{placeholder}}" /></a>';
	html += '<input type="hidden" name="gallery_image['+image_row+'][image]" value="" id="input-image'+image_row+'" />';
	html += '</td>';
	html += '<td class="text-left"><button type="button" onclick="$(\'#image-row'+image_row+'\').remove();" data-toggle="tooltip" title="{{button_remove}}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	html += '</tr>';
	html += '</tbody>'; 
	
	$('#images').append(html);
	
	image_row++;
}
//--></script>
{{footer}}