{{header}}
{{column_left}}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-module" data-toggle="tooltip" title="{{button_save}}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{cancel}}" data-toggle="tooltip" title="{{button_cancel}}" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			<h1>{{heading_title}}</h1>
			<br />
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li><a href="{{breadcrumb.href}}">{{breadcrumb.text}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{error_warning}}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{text_edit}}</h3>
			</div>
			<div class="panel-body">
				<form action="{{action}}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-name">{{entry_name}}</label>
						<div class="col-sm-10">
							<input type="text" name="name" value="{{name}}" placeholder="{{entry_name}}" id="input-name" class="form-control" />
							{% if error_name %}
								<div class="text-danger">{{error_name}}</div>
							{% endif %}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-name">{{entry_width_height}}</label>
						<div class="col-sm-10">
							<input type="text" name="width" value="{{width ? width : 848}}" placeholder="" id="input-name" class="form-control" style="float:left;width:50px" />
							<div style="float:left;padding:8px 5px 0">x</div>
							<input type="text" name="height" value="{{height ? height : 318}}" placeholder="" id="input-name" class="form-control" style="float:left;width:50px" />
						</div>
					</div>
					
					{% set effects = ['Attention Seekers', 'bounce', 'flash', 'pulse', 'rubberBand', 'shake', 'swing', 'tada', 'wobble', 'jello', 
										'Bouncing Entrances', 'bounceIn', 'bounceInDown', 'bounceInLeft', 'bounceInRight', 'bounceInUp',
										'Bouncing Exits', 'bounceOut', 'bounceOutDown', 'bounceOutLeft', 'bounceOutRight', 'bounceOutUp',
										'Fading Entrances', 'fadeIn', 'fadeInDown', 'fadeInLeft', 'fadeInRight', 'fadeInUp',
										'Fading Exits', 'fadeOut', 'fadeOutDown', 'fadeOutLeft', 'fadeOutRight', 'fadeOutUp',
										'Flippers', 'flip', 'flipInX', 'flipInY', 'flipOutX', 'flipOutY',
										'Lightspeed', 'lightSpeedIn', 'lightSpeedOut',
										'Rotating Entrances', 'rotateIn', 'rotateInDownLeft', 'rotateInDownRight', 'rotateInUpLeft', 'rotateInUpRight',
										'Rotating Exits', 'rotateOut', 'rotateOutDownLeft', 'rotateOutDownRight', 'rotateOutUpLeft', 'rotateOutUpRight', 
										'Sliding Entrances', 'slideInUp', 'slideInDown', 'slideInLeft', 'slideInRight', 
										'Sliding Exits', 'slideOutUp', 'slideOutDown', 'slideOutLeft', 'slideOutRight',
										'Zoom Entrances', 'zoomIn', 'zoomInDown', 'zoomInLeft', 'zoomInRight', 'zoomInUp',
										'Zoom Exits', 'zoomOut', 'zoomOutDown', 'zoomOutLeft', 'zoomOutRight', 'zoomOutUp',
										'Specials', 'hinge', 'jackInTheBox', 'rollIn', 'rollOut'] %}
					{% set group = ['Attention Seekers', 
									'Bouncing Entrances', 
									'Bouncing Exits', 
									'Fading Entrances', 
									'Fading Exits', 
									'Flippers', 
									'Lightspeed', 
									'Rotating Entrances', 
									'Rotating Exits', 
									'Sliding Entrances', 
									'Sliding Exits', 
									'Zoom Entrances', 
									'Zoom Exits', 
									'Specials'] %}
								
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-name">{{entry_effect_in}}</label>
						<div class="col-sm-10">
							<select name="effect_in" class="form-control">
								{% for effect in effects %}
									{% if effect in group %}
										<optgroup label="{{effect}}" />
									{% else %}
										<option {{effect == effect_in ? 'selected="selected"'}} value="{{effect}}">{{effect}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-name">{{entry_effect_out}}</label>
						<div class="col-sm-10">
							<select name="effect_out" class="form-control">
								{% for effect in effects %}
									{% if effect in group %}
										<optgroup label="{{effect}}" />
									{% else %}
										<option {{effect == effect_out ? 'selected="selected"'}} value="{{effect}}">{{effect}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-name">{{entry_delay}}</label>
						<div class="col-sm-10">
							<input type="text" name="delay" value="{{delay ? delay : 5}}" placeholder="" id="input-name" class="form-control" style="float:left;width:50px;text-align:center" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-name">{{entry_hide}}</label>
						<div class="col-sm-10">
							<input type="checkbox" name="hide" {{hide ? 'checked="checked"'}} class="form-control" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-name">{{entry_slides}}</label>
						<div class="col-sm-10">
							<table id="slides" class="table table-striped table-bordered table-hover">
								<tr style="font-size:12px">
									<td style="text-align:center; width:120px">{{entry_image}}</td>
									<td>{{entry_data}}</td>
									<td style="text-align:center; width:90px">{{entry_sort}}</td>
									<td style="text-align:center; width:50px"></td>
								</tr>
								{% set slide_row = 0 %}
								{% for slide in slides %}
									<tr id="slide-row-{{slide_row}}">
										<td style="text-align:center">
											<a href="" id="thumb-image{{slide_row}}" data-toggle="image" class="img-thumbnail"><img src="{{slide.thumb ? slide.thumb : placeholder}}" alt="" title="" data-placeholder="{{placeholder}}" /></a>
											<input type="hidden" name="slides[{{slide_row}}][image]" value="{{slide.image}}" id="input-image{{slide_row}}" />
										</td>
										<td>
											<ul class="nav nav-tabs" style="margin-bottom:10px">
											{% for lang in languages %}
												<li><a href="#title-{{slide_row}}-{{lang.language_id}}" data-toggle="tab" style="padding:2px 10px 5px"><img src="language/{{lang.code}}/{{lang.code}}.png" title="{{lang.name}}" /></a></li>
											{% endfor %}
											</ul>
											<div class="tab-content">
											{% for lang in languages %}
												<div id="title-{{slide_row}}-{{lang.language_id}}" class="tab-pane">
													<input type="text" name="slides[{{slide_row}}][title][{{lang.language_id}}]" value="{{slide.title[lang.language_id]}}" placeholder="{{placeholder_title}}" class="form-control" />
													<textarea name="slides[{{slide_row}}][text][{{lang.language_id}}]" class="form-control" style="margin-top:10px;min-height:50px" placeholder="{{placeholder_text}}">{{slide.text[lang.language_id]}}</textarea>
													<input type="text" name="slides[{{slide_row}}][link][{{lang.language_id}}]" value="{{slide.link[lang.language_id]}}" placeholder="{{placeholder_link}}" class="form-control" style="margin-top:10px" />
													<input type="text" name="slides[{{slide_row}}][button][{{lang.language_id}}]" value="{{slide.button[lang.language_id]}}" placeholder="{{placeholder_button}}" class="form-control" style="margin-top:10px" />
												</div>
											{% endfor %}
											</div>
										</td>
										<td style="text-align:center"><input type="text" name="slides[{{slide_row}}][sort]" value="{{slide.sort}}" placeholder="" class="form-control" style="width:50px; text-align:center" /></td>
										<td style="text-align:center"><button type="button" onclick="$('#slide-row-{{slide_row}}').remove();" data-toggle="tooltip" title="{{button_remove}}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
									</tr>
									{% set slide_row = slide_row + 1 %}
								{% endfor %}
							</table>
							<div class="text-right">
								<a class="btn btn-primary" onclick="addSlide();">{{button_add_slide}}</a>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-status">{{entry_status}}</label>
						<div class="col-sm-10">
							<select name="status" id="input-status" class="form-control">
								<option value="1" {{status ? 'selected="selected"'}}>{{text_enabled}}</option>
								<option value="0" {{not status ? 'selected="selected"'}}>{{text_disabled}}</option>
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
var slide_row = {{slide_row}};

function addSlide() {
	html  = '<tr id="slide-row-'+slide_row+'">';
	html += '<td style="text-align:center"><a href="" id="thumb-image'+slide_row+'" data-toggle="image" class="img-thumbnail"><img src="{{placeholder}}" data-placeholder="{{placeholder}}" /></a><input type="hidden" name="slides['+slide_row+'][image]" value="" id="input-image'+slide_row+'" /></td>';
	html += '<td>';
	html += '<ul class="nav nav-tabs" style="margin-bottom:10px">';
{% for lang in languages %}
	html += '<li><a href="#title-'+slide_row+'-{{lang.language_id}}" data-toggle="tab" style="padding:2px 10px 5px"><img src="language/{{lang.code}}/{{lang.code}}.png" title="{{lang.name}}" /></a></li>';
{% endfor %}
	html += '</ul>';
	html += '<div class="tab-content">';
{% for lang in languages %}
	html += '<div id="title-'+slide_row+'-{{lang.language_id}}" class="tab-pane">';
	html += '<input type="text" name="slides['+slide_row+'][title][{{lang.language_id}}]" value="" placeholder="{{placeholder_title}}" class="form-control" />';
	html += '<textarea name="slides['+slide_row+'][text][{{lang.language_id}}]" class="form-control" placeholder="{{placeholder_text}}" style="margin-top:10px;min-height:50px"></textarea>';
	html += '<input type="text" name="slides['+slide_row+'][link][{{lang.language_id}}]" value="" placeholder="{{placeholder_link}}" class="form-control" style="margin-top:10px" />';
	html += '<input type="text" name="slides['+slide_row+'][button][{{lang.language_id}}]" value="" placeholder="{{placeholder_button}}" class="form-control" style="margin-top:10px" />';
	html += '</div>';
{% endfor %}
	html += '</div>';
	html += '</td>';
	html += '<td><input type="text" name="slides['+slide_row+'][sort]" value="0" placeholder="" class="form-control" style="width:50px; text-align:center" /></td>';
	html += '<td style="text-align:center"><button type="button" onclick="$(\'#slide-row-'+slide_row+'\').remove();" data-toggle="tooltip" title="{{button_remove}}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
	html += '</tr>';

	$('#slides').append(html);

	slide_row++;
	
	$('#slides .nav').each(function() {
		$(this).find('li:first a').tab('show');
	});
}

$('#slides .nav').each(function() {
	$(this).find('li:first a').tab('show');
});
//--></script> 
{{ footer }}