{{header}}
{{column_left}}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-category" data-toggle="tooltip" title="{{button_save}}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{cancel}}" data-toggle="tooltip" title="{{button_cancel}}" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			<h1>{{heading_title}}</h1><br />
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li><a href="{{breadcrumb.href}}">{{breadcrumb.text}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{error_warning}}<button type="button" class="close" data-dismiss="alert">&times;</button></div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{text_category_add}}</h3>
			</div>
			<div class="panel-body">
				<div class="content">
					<style>table {width:100%}table tr td {padding:7px 4px}table tr td:nth-child(1) {width:300px;max-width:300px;text-align:right;}table tr td + td {padding:7px 0 7px 10px}1table tr:nth-child(2n) {background: #f4f4f4;}</style>
					<form action="{{action}}" method="post" enctype="multipart/form-data" id="form-category" class="form-horizontal">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab-general" data-toggle="tab">{{tab_general}}</a></li>
							<li><a href="#tab-data" data-toggle="tab">{{tab_data}}</a></li>
							<li><a href="#tab-seo" data-toggle="tab">{{tab_seo}}</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab-general">
								<ul id="language" class="nav nav-tabs">
									{% for language in languages %}
										<li><a href="#language{{language.language_id}}" data-toggle="tab"><img src="language/{{language.code}}/{{language.code}}.png" title="{{language.name}}" /> {{language.name}}</a></li>
									{% endfor %}
								</ul>
								<div class="tab-content">
									{% for language in languages %}
										<div id="language{{language.language_id}}" class="tab-pane">
											<table class="form">
												<tr>
													<td><span class="required">*</span> <label>{{entry_category_name}}</label></td>
													<td>
														<input name="description[{{language.language_id}}][name]" class="form-control" value="{{description[language.language_id].name}}" />
														{% if error_title[language.language_id] %}<span class="error">{{error_title[language.language_id]}}</span>{% endif %}
													</td>
												</tr>
												<tr>
													<td><label>{{entry_meta_description}}</label></td>
													<td><textarea name="description[{{language.language_id}}][meta_description]" class="form-control">{{description[language.language_id].meta_description}}</textarea></td>
												</tr>
												<tr>
													<td><label>{{entry_meta_keyword}}</label></td>
													<td><textarea name="description[{{language.language_id}}][meta_keyword]" class="form-control">{{description[language.language_id].meta_keyword}}</textarea></td>
												</tr>
												<tr>
													<td><span class="required">*</span> <label>{{entry_category_description}}</label></td>
													<td>
														<textarea name="description[{{language.language_id}}][description]" id="description{{language.language_id}}" data-toggle="summernote">{{description[language.language_id].description}}</textarea>
														{% if error_description[language.language_id] %}}<span class="error">{{error_description[language.language_id]}}</span>{% endif %}
													</td>
												</tr>
											</table>
										</div>		
									{% endfor %}
								</div>
							</div>
							<div class="tab-pane" id="tab-data">
								<table class="form">
									<tr>
										<td><label>{{entry_parent}}</label></td>
										<td>
											<input type="text" name="path" value="{{path}}" placeholder="{{entry_parent}}" id="input-parent" class="form-control" />
											<input type="hidden" name="parent_id" value="{{parent_id}}" />
										</td>
									</tr>
									<tr>
										<td><label>{{entry_store}}</label></td>
										<td>
											<div class="overflow" style="height:150px;">
												{% for store in stores %}
													<label><input type="checkbox" name="stores[]" value="{{store.store_id}}" {{store.store_id in category_stores ? 'checked="checked"'}} /><span></span>{{store.name}}</label><br />
												{% endfor %}
											</div>
										</td>
									</tr>
									<tr>
										<td><label>{{entry_image}}</label></td>
										<td>
											<a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{thumb ? thumb : placeholder}}" alt="" title="" data-placeholder="{{placeholder}}" /></a>
											<input type="hidden" name="image" value="{{image}}" id="image" />
										</td>
									</tr>
									<tr>
										<td><label>{{entry_sort_order}}</label></td>
										<td>
											<input type="text" name="sort_order" value="{{sort_order}}" placeholder="{{entry_sort_order}}" id="input-parent" class="form-control" />
										</td>
									</tr>
									<tr>
										<td>{{entry_status}}</td>
										<td>
											<select name="status" class="form-control">
												<option value="1" {{status ? 'selected="selected"'}}>{{text_enabled}}</option>
												<option value="0" {{not status ? 'selected="selected"'}}>{{text_disabled}}</option>
											</select>
										</td>
									</tr>
								</table>
							</div>
							<div class="tab-pane" id="tab-seo">
								<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{text_keyword}}</div>
								<div class="table-responsive">
									<table class="table table-bordered table-hover">
										<tr>
											<td class="text-left">{{entry_store}}</td>
											<td class="text-left">{{entry_keyword}}</td>
										</tr>
										{% for store in stores %}
											<tr>
												<td class="text-left">{{store.name}}</td>
												<td class="text-left">
													{% for language in languages %}
														<div class="input-group">
															<span class="input-group-addon">
																<img src="language/{{language.code}}/{{language.code}}.png" title="{{language.name}}" />
															</span>
															<input type="text" name="seo_url[{{store.store_id}}][{{language.language_id}}]" value="{{seo_url[store.store_id][language.language_id]}}" placeholder="{{entry_keyword}}" class="form-control" />
														</div>
														{% if error_keyword[store.store_id][language.language_id] %}
															<div class="text-danger">{{error_keyword[store.store_id][language.language_id]}}</div>
														{% endif %} 
													{% endfor %}
												</td>
											</tr>
										{% endfor %}
									</table>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript"><!--
{% for language in languages %}
	{% if ckeditor %}
		ckeditorInit('description{{language.language_id}}', '{{user_token}}');
	{% endif %}
{% endfor %}
$('#tab-language a:first').tab('show');
$('#language a:first').tab('show');
//--></script>
  <script type="text/javascript"><!--
$('input[name=\'path\']').autocomplete({
	'source': function(request, response) {
		$.ajax({
			url: 'index.php?route=extension/module/uni_news/autocomplete&user_token={{user_token}}&filter_name=' +  encodeURIComponent(request),
			dataType: 'json',
			success: function(json) {
				json.unshift({
					category_id: 0,
					name: '{{ text_none }}'
				});

				response($.map(json, function(item) {
					return {
						label: item['name'],
						value: item['category_id']
					}
				}));
			}
		});
	},
	'select': function(item) {
		$('input[name=\'path\']').val(item['label']);
		$('input[name=\'parent_id\']').val(item['value']);
	}
});
$('#category-filter').delegate('.fa-minus-circle', 'click', function() {
	$(this).parent().remove();
});
//--></script>

{{footer}}