<div id="modal-icons-form" class="modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Выбор иконки</h4>
			</div>
			<div class="modal-body">

<div class="row" style="padding:0 15px">  

<h4 class="remove-icon" data-dismiss="modal"><i class="" aria-hidden="true">Убрать иконку</i></h4>

<div class="col-xs-12"><h4>A</h4></div>
<div class="col-xs-1"><i class="fab fa-accessible-icon"></i></div>
<div class="col-xs-1"><i class="fab fa-accusoft"></i></div>
<div class="col-xs-1"><i class="fa fa-address-book"></i></div>
<div class="col-xs-1"><i class="far fa-address-book"></i></div>
<div class="col-xs-1"><i class="fa fa-address-card"></i></div>
<div class="col-xs-1"><i class="far fa-address-card"></i></div>
<div class="col-xs-1"><i class="fas fa-adjust"></i></div>
<div class="col-xs-1"><i class="fab fa-adn"></i></div>
<div class="col-xs-1"><i class="fab fa-adversal"></i></div>
<div class="col-xs-1"><i class="fab fa-affiliatetheme"></i></div>
<div class="col-xs-1"><i class="fas fa-air-freshener"></i></div>
<div class="col-xs-1"><i class="fab fa-algolia"></i></div>
<div class="col-xs-1"><i class="fas fa-align-center"></i></div>
<div class="col-xs-1"><i class="fas fa-align-justify"></i></div>
<div class="col-xs-1"><i class="fas fa-align-left"></i></div>
<div class="col-xs-1"><i class="fas fa-align-right"></i></div>
<div class="col-xs-1"><i class="fab fa-amazon"></i></div>
<div class="col-xs-1"><i class="fab fa-amazon-pay"></i></div>
<div class="col-xs-1"><i class="fas fa-ambulance"></i></div>
<div class="col-xs-1"><i class="fas fa-american-sign-language-interpreting"></i></div>
<div class="col-xs-1"><i class="fab fa-amilia"></i></div>
<div class="col-xs-1"><i class="fas fa-anchor"></i></div>
<div class="col-xs-1"><i class="fab fa-android"></i></div>
<div class="col-xs-1"><i class="fab fa-angellist"></i></div>
<div class="col-xs-1"><i class="fas fa-angle-double-down"></i></div>
<div class="col-xs-1"><i class="fas fa-angle-double-left"></i></div>
<div class="col-xs-1"><i class="fas fa-angle-double-right"></i></div>
<div class="col-xs-1"><i class="fas fa-angle-double-up"></i></div>
<div class="col-xs-1"><i class="fas fa-angle-down"></i></div>
<div class="col-xs-1"><i class="fas fa-angle-left"></i></div>
<div class="col-xs-1"><i class="fas fa-angle-right"></i></div>
<div class="col-xs-1"><i class="fas fa-angle-up"></i></div>
<div class="col-xs-1"><i class="fab fa-angrycreative"></i></div>
<div class="col-xs-1"><i class="fab fa-angular"></i></div>
<div class="col-xs-1"><i class="fab fa-app-store"></i></div>
<div class="col-xs-1"><i class="fab fa-app-store-ios"></i></div>
<div class="col-xs-1"><i class="fab fa-apper"></i></div>
<div class="col-xs-1"><i class="fab fa-apple"></i></div>
<div class="col-xs-1"><i class="fas fa-apple-alt"></i></div>
<div class="col-xs-1"><i class="fab fa-apple-pay"></i></div>
<div class="col-xs-1"><i class="fas fa-archive"></i></div>
<div class="col-xs-1"><i class="fas fa-archway"></i></div>
<div class="col-xs-1"><i class="fa fa-arrow-alt-circle-down"></i></div>
<div class="col-xs-1"><i class="fa fa-arrow-alt-circle-left"></i></div>
<div class="col-xs-1"><i class="fa fa-arrow-alt-circle-right"></i></div>
<div class="col-xs-1"><i class="fa fa-arrow-alt-circle-up"></i></div>
<div class="col-xs-1"><i class="fas fa-arrow-circle-down"></i></div>
<div class="col-xs-1"><i class="fas fa-arrow-circle-left"></i></div>
<div class="col-xs-1"><i class="fas fa-arrow-circle-right"></i></div>
<div class="col-xs-1"><i class="fas fa-arrow-circle-up"></i></div>
<div class="col-xs-1"><i class="fas fa-arrow-down"></i></div>
<div class="col-xs-1"><i class="fas fa-arrow-left"></i></div>
<div class="col-xs-1"><i class="fas fa-arrow-right"></i></div>
<div class="col-xs-1"><i class="fas fa-arrow-up"></i></div>
<div class="col-xs-1"><i class="fas fa-arrows-alt"></i></div>
<div class="col-xs-1"><i class="fas fa-arrows-alt-h"></i></div>
<div class="col-xs-1"><i class="fas fa-arrows-alt-v"></i></div>
<div class="col-xs-1"><i class="fas fa-assistive-listening-systems"></i></div>
<div class="col-xs-1"><i class="fas fa-asterisk"></i></div>
<div class="col-xs-1"><i class="fab fa-asymmetrik"></i></div>
<div class="col-xs-1"><i class="fas fa-at"></i></div>
<div class="col-xs-1"><i class="fas fa-atlas"></i></div>
<div class="col-xs-1"><i class="fas fa-atom"></i></div>
<div class="col-xs-1"><i class="fab fa-audible"></i></div>
<div class="col-xs-1"><i class="fa fa-audio-description"></i></div>
<div class="col-xs-1"><i class="fab fa-autoprefixer"></i></div>
<div class="col-xs-1"><i class="fab fa-avianex"></i></div>
<div class="col-xs-1"><i class="fab fa-aviato"></i></div>
<div class="col-xs-1"><i class="fab fa-aws"></i></div>


<div class="col-xs-12"><h4>B</h4></div>
<div class="col-xs-1"><i class="fas fa-backward"></i></div>
<div class="col-xs-1"><i class="fas fa-balance-scale"></i></div>
<div class="col-xs-1"><i class="fas fa-ban"></i></div>
<div class="col-xs-1"><i class="fab fa-bandcamp"></i></div>
<div class="col-xs-1"><i class="fas fa-barcode"></i></div>
<div class="col-xs-1"><i class="fas fa-bars"></i></div>
<div class="col-xs-1"><i class="fas fa-baseball-ball"></i></div>
<div class="col-xs-1"><i class="fas fa-basketball-ball"></i></div>
<div class="col-xs-1"><i class="fas fa-bath"></i></div>
<div class="col-xs-1"><i class="fas fa-battery-empty"></i></div>
<div class="col-xs-1"><i class="fas fa-battery-full"></i></div>
<div class="col-xs-1"><i class="fas fa-battery-half"></i></div>
<div class="col-xs-1"><i class="fas fa-battery-quarter"></i></div>
<div class="col-xs-1"><i class="fas fa-battery-three-quarters"></i></div>
<div class="col-xs-1"><i class="fas fa-bed"></i></div>
<div class="col-xs-1"><i class="fas fa-beer"></i></div>
<div class="col-xs-1"><i class="fab fa-behance"></i></div>
<div class="col-xs-1"><i class="fab fa-behance-square"></i></div>
<div class="col-xs-1"><i class="fas fa-bell"></i></div>
<div class="col-xs-1"><i class="fa fa-bell"></i></div>
<div class="col-xs-1"><i class="fa fa-bell-slash"></i></div>
<div class="col-xs-1"><i class="fa fa-bicycle"></i></div>
<div class="col-xs-1"><i class="fab fa-bimobject"></i></div>
<div class="col-xs-1"><i class="fa fa-binoculars"></i></div>
<div class="col-xs-1"><i class="fa fa-birthday-cake"></i></div>
<div class="col-xs-1"><i class="fab fa-bitbucket"></i></div>
<div class="col-xs-1"><i class="fab fa-bitcoin"></i></div>
<div class="col-xs-1"><i class="fab fa-bity"></i></div>
<div class="col-xs-1"><i class="fab fa-black-tie"></i></div>
<div class="col-xs-1"><i class="fab fa-blackberry"></i></div>
<div class="col-xs-1"><i class="fas fa-blender"></i></div>
<div class="col-xs-1"><i class="fa fa-blind"></i></div>
<div class="col-xs-1"><i class="fab fa-blogger"></i></div>
<div class="col-xs-1"><i class="fab fa-blogger-b"></i></div>
<div class="col-xs-1"><i class="fab fa-bluetooth"></i></div>
<div class="col-xs-1"><i class="fab fa-bluetooth-b"></i></div>
<div class="col-xs-1"><i class="fa fa-bold"></i></div>
<div class="col-xs-1"><i class="fa fa-bolt"></i></div>
<div class="col-xs-1"><i class="fa fa-bomb"></i></div>
<div class="col-xs-1"><i class="fa fa-book"></i></div>
<div class="col-xs-1"><i class="fa fa-book-open"></i></div>
<div class="col-xs-1"><i class="fa fa-book-reader"></i></div>
<div class="col-xs-1"><i class="fa fa-bookmark"></i></div>
<div class="col-xs-1"><i class="far fa-bookmark"></i></div>
<div class="col-xs-1"><i class="fa fa-bowling-ball"></i></div>
<div class="col-xs-1"><i class="fas fa-box"></i></div>
<div class="col-xs-1"><i class="fas fa-box-open"></i></div>
<div class="col-xs-1"><i class="fas fa-boxes"></i></div>
<div class="col-xs-1"><i class="fa fa-braille"></i></div>
<div class="col-xs-1"><i class="fas fa-brain"></i></div>
<div class="col-xs-1"><i class="fa fa-briefcase"></i></div>
<div class="col-xs-1"><i class="fa fa-briefcase-medical"></i></div>
<div class="col-xs-1"><i class="fas fa-broadcast-tower"></i></div>
<div class="col-xs-1"><i class="fas fa-broom"></i></div>
<div class="col-xs-1"><i class="fas fa-brush"></i></div>
<div class="col-xs-1"><i class="fab fa-btc"></i></div>
<div class="col-xs-1"><i class="fa fa-bug"></i></div>
<div class="col-xs-1"><i class="fa fa-building"></i></div>
<div class="col-xs-1"><i class="far fa-building"></i></div>
<div class="col-xs-1"><i class="fa fa-bullhorn"></i></div>
<div class="col-xs-1"><i class="fa fa-bullseye"></i></div>
<div class="col-xs-1"><i class="fab fa-buromobelexperte"></i></div>
<div class="col-xs-1"><i class="fas fa-bus"></i></div>
<div class="col-xs-1"><i class="fas fa-bus-alt"></i></div>
<div class="col-xs-1"><i class="fab fa-buysellads"></i></div>

<div class="col-xs-12"><h4>C</h4></div>
<div class="col-xs-1"><i class="fa fa-calculator"></i></div>
<div class="col-xs-1"><i class="fa fa-calendar"></i></div>
<div class="col-xs-1"><i class="far fa-calendar"></i></div>
<div class="col-xs-1"><i class="fa fa-calendar-alt"></i></div>
<div class="col-xs-1"><i class="far fa-calendar-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-calendar-check"></i></div>
<div class="col-xs-1"><i class="fa fa-calendar-minus"></i></div>
<div class="col-xs-1"><i class="fa fa-calendar-plus"></i></div>
<div class="col-xs-1"><i class="fa fa-calendar-times"></i></div>
<div class="col-xs-1"><i class="fa fa-camera"></i></div>
<div class="col-xs-1"><i class="fa fa-camera-retro"></i></div>
<div class="col-xs-1"><i class="fa fa-capsules"></i></div>
<div class="col-xs-1"><i class="fas fa-car"></i></div>
<div class="col-xs-1"><i class="fas fa-car-alt"></i></div>
<div class="col-xs-1"><i class="fas fa-car-battery"></i></div>
<div class="col-xs-1"><i class="fas fa-car-crash"></i></div>
<div class="col-xs-1"><i class="fas fa-car-side"></i></div>
<div class="col-xs-1"><i class="fa fa-caret-down"></i></div>
<div class="col-xs-1"><i class="fa fa-caret-left"></i></div>
<div class="col-xs-1"><i class="fa fa-caret-right"></i></div>
<div class="col-xs-1"><i class="fa fa-caret-square-down"></i></div>
<div class="col-xs-1"><i class="fa fa-caret-square-left"></i></div>
<div class="col-xs-1"><i class="fa fa-caret-square-right"></i></div>
<div class="col-xs-1"><i class="fa fa-caret-square-up"></i></div>
<div class="col-xs-1"><i class="fa fa-caret-up"></i></div>
<div class="col-xs-1"><i class="fa fa-cart-arrow-down"></i></div>
<div class="col-xs-1"><i class="fa fa-cart-plus"></i></div>
<div class="col-xs-1"><i class="fab fa-cc-amazon-pay"></i></div>
<div class="col-xs-1"><i class="fab fa-cc-amex"></i></div>
<div class="col-xs-1"><i class="fab fa-cc-apple-pay"></i></div>
<div class="col-xs-1"><i class="fab fa-cc-diners-club"></i></div>
<div class="col-xs-1"><i class="fab fa-cc-discover"></i></div>
<div class="col-xs-1"><i class="fab fa-cc-jcb"></i></div>
<div class="col-xs-1"><i class="fab fa-cc-mastercard"></i></div>
<div class="col-xs-1"><i class="fab fa-cc-paypal"></i></div>
<div class="col-xs-1"><i class="fab fa-cc-stripe"></i></div>
<div class="col-xs-1"><i class="fab fa-cc-visa"></i></div>
<div class="col-xs-1"><i class="fab fa-centercode"></i></div>
<div class="col-xs-1"><i class="fa fa-certificate"></i></div>
<div class="col-xs-1"><i class="fas fa-chalkboard"></i></div>
<div class="col-xs-1"><i class="fas fa-chalkboard-teacher"></i></div>
<div class="col-xs-1"><i class="fas fa-charging-station"></i></div>
<div class="col-xs-1"><i class="fa fa-chart-area"></i></div>
<div class="col-xs-1"><i class="fa fa-chart-bar"></i></div>
<div class="col-xs-1"><i class="far fa-chart-bar"></i></div>
<div class="col-xs-1"><i class="fa fa-chart-line"></i></div>
<div class="col-xs-1"><i class="fa fa-chart-pie"></i></div>
<div class="col-xs-1"><i class="fa fa-check"></i></div>
<div class="col-xs-1"><i class="fa fa-check-circle"></i></div>
<div class="col-xs-1"><i class="fa fa-check-square"></i></div>
<div class="col-xs-1"><i class="fa fa-chess"></i></div>
<div class="col-xs-1"><i class="fa fa-chess-bishop"></i></div>
<div class="col-xs-1"><i class="fa fa-chess-board"></i></div>
<div class="col-xs-1"><i class="fa fa-chess-king"></i></div>
<div class="col-xs-1"><i class="fa fa-chess-knight"></i></div>
<div class="col-xs-1"><i class="fa fa-chess-pawn"></i></div>
<div class="col-xs-1"><i class="fa fa-chess-queen"></i></div>
<div class="col-xs-1"><i class="fa fa-chess-rook"></i></div>
<div class="col-xs-1"><i class="fa fa-chevron-circle-down"></i></div>
<div class="col-xs-1"><i class="fa fa-chevron-circle-left"></i></div>
<div class="col-xs-1"><i class="fa fa-chevron-circle-right"></i></div>
<div class="col-xs-1"><i class="fa fa-chevron-circle-up"></i></div>
<div class="col-xs-1"><i class="fa fa-chevron-down"></i></div>
<div class="col-xs-1"><i class="fa fa-chevron-left"></i></div>
<div class="col-xs-1"><i class="fa fa-chevron-right"></i></div>
<div class="col-xs-1"><i class="fa fa-chevron-up"></i></div>
<div class="col-xs-1"><i class="fa fa-child"></i></div>
<div class="col-xs-1"><i class="fab fa-chrome"></i></div>
<div class="col-xs-1"><i class="fa fa-circle"></i></div>
<div class="col-xs-1"><i class="far fa-circle"></i></div>
<div class="col-xs-1"><i class="fa fa-circle-notch"></i></div>
<div class="col-xs-1"><i class="fa fa-clipboard"></i></div>
<div class="col-xs-1"><i class="fa fa-clock"></i></div>
<div class="col-xs-1"><i class="far fa-clock"></i></div>
<div class="col-xs-1"><i class="fa fa-clone"></i></div>
<div class="col-xs-1"><i class="far fa-clone"></i></div>
<div class="col-xs-1"><i class="fa fa-closed-captioning"></i></div>
<div class="col-xs-1"><i class="fa fa-cloud"></i></div>
<div class="col-xs-1"><i class="fa fa-cloud-download-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-cloud-upload-alt"></i></div>
<div class="col-xs-1"><i class="fab fa-cloudscale"></i></div>
<div class="col-xs-1"><i class="fab fa-cloudsmith"></i></div>
<div class="col-xs-1"><i class="fab fa-cloudversify"></i></div>
<div class="col-xs-1"><i class="fa fa-code"></i></div>
<div class="col-xs-1"><i class="fa fa-code-branch"></i></div>
<div class="col-xs-1"><i class="fab fa-codepen"></i></div>
<div class="col-xs-1"><i class="fab fa-codiepie"></i></div>
<div class="col-xs-1"><i class="fa fa-coffee"></i></div>
<div class="col-xs-1"><i class="fa fa-cog"></i></div>
<div class="col-xs-1"><i class="fa fa-cogs"></i></div>
<div class="col-xs-1"><i class="fa fa-columns"></i></div>
<div class="col-xs-1"><i class="fa fa-comment"></i></div>
<div class="col-xs-1"><i class="far fa-comment"></i></div>
<div class="col-xs-1"><i class="fa fa-comment-alt"></i></div>
<div class="col-xs-1"><i class="far fa-comment-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-comments"></i></div>
<div class="col-xs-1"><i class="far fa-comments"></i></div>
<div class="col-xs-1"><i class="fa fa-compass"></i></div>
<div class="col-xs-1"><i class="fa fa-compress"></i></div>
<div class="col-xs-1"><i class="fa fa-concierge-bell"></i></div>
<div class="col-xs-1"><i class="fab fa-connectdevelop"></i></div>
<div class="col-xs-1"><i class="fab fa-contao"></i></div>
<div class="col-xs-1"><i class="fas fa-cookie"></i></div>
<div class="col-xs-1"><i class="fas fa-cookie-bite"></i></div>
<div class="col-xs-1"><i class="fa fa-copy"></i></div>
<div class="col-xs-1"><i class="fas fa-copyright"></i></div>
<div class="col-xs-1"><i class="far fa-copyright"></i></div>
<div class="col-xs-1"><i class="fab fa-cpanel"></i></div>
<div class="col-xs-1"><i class="fab fa-creative-commons"></i></div>
<div class="col-xs-1"><i class="fas fa-credit-card"></i></div>
<div class="col-xs-1"><i class="far fa-credit-card"></i></div>
<div class="col-xs-1"><i class="fa fa-crop"></i></div>
<div class="col-xs-1"><i class="fa fa-crosshairs"></i></div>
<div class="col-xs-1"><i class="fa fa-crow"></i></div>
<div class="col-xs-1"><i class="fa fa-crown"></i></div>
<div class="col-xs-1"><i class="fab fa-css3"></i></div>
<div class="col-xs-1"><i class="fab fa-css3-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-cube"></i></div>
<div class="col-xs-1"><i class="fa fa-cubes"></i></div>
<div class="col-xs-1"><i class="fa fa-cut"></i></div>
<div class="col-xs-1"><i class="fab fa-cuttlefish"></i></div>

<div class="col-xs-12"><h4>D</h4></div>
<div class="col-xs-1"><i class="fab fa-d-and-d"></i></div>
<div class="col-xs-1"><i class="fab fa-dashcube"></i></div>
<div class="col-xs-1"><i class="fa fa-database"></i></div>
<div class="col-xs-1"><i class="fa fa-deaf"></i></div>
<div class="col-xs-1"><i class="fab fa-delicious"></i></div>
<div class="col-xs-1"><i class="fab fa-deploydog"></i></div>
<div class="col-xs-1"><i class="fab fa-deskpro"></i></div>
<div class="col-xs-1"><i class="fa fa-desktop"></i></div>
<div class="col-xs-1"><i class="fab fa-deviantart"></i></div>
<div class="col-xs-1"><i class="fa fa-diagnoses"></i></div>
<div class="col-xs-1"><i class="fa fa-dice"></i></div>
<div class="col-xs-1"><i class="fab fa-digg"></i></div>
<div class="col-xs-1"><i class="fab fa-digital-ocean"></i></div>
<div class="col-xs-1"><i class="fab fa-discord"></i></div>
<div class="col-xs-1"><i class="fab fa-discourse"></i></div>
<div class="col-xs-1"><i class="fab fa-dochub"></i></div>
<div class="col-xs-1"><i class="fab fa-docker"></i></div>
<div class="col-xs-1"><i class="fa fa-dollar-sign"></i></div>
<div class="col-xs-1"><i class="fa fa-dolly"></i></div>
<div class="col-xs-1"><i class="fa fa-dolly-flatbed"></i></div>
<div class="col-xs-1"><i class="fa fa-donate"></i></div>
<div class="col-xs-1"><i class="fa fa-door-closed"></i></div>
<div class="col-xs-1"><i class="fa fa-door-open"></i></div>
<div class="col-xs-1"><i class="fa fa-dot-circle"></i></div>
<div class="col-xs-1"><i class="fas fa-dot-circle"></i></div>
<div class="col-xs-1"><i class="fa fa-dove"></i></div>
<div class="col-xs-1"><i class="fa fa-download"></i></div>
<div class="col-xs-1"><i class="fab fa-draft2digital"></i></div>
<div class="col-xs-1"><i class="fab fa-dribbble"></i></div>
<div class="col-xs-1"><i class="fab fa-dribbble-square"></i></div>
<div class="col-xs-1"><i class="fab fa-dropbox"></i></div>
<div class="col-xs-1"><i class="fas fa-drum"></i></div>
<div class="col-xs-1"><i class="fas fa-drum-steelpan"></i></div>
<div class="col-xs-1"><i class="fab fa-drupal"></i></div>
<div class="col-xs-1"><i class="fab fa-dyalog"></i></div>

<div class="col-xs-12"><h4>E</h4></div>
<div class="col-xs-1"><i class="fab fa-earlybirds"></i></div>
<div class="col-xs-1"><i class="fab fa-edge"></i></div>
<div class="col-xs-1"><i class="fa fa-edit"></i></div>
<div class="col-xs-1"><i class="fa fa-eject"></i></div>
<div class="col-xs-1"><i class="fab fa-elementor"></i></div>
<div class="col-xs-1"><i class="fa fa-ellipsis-h"></i></div>
<div class="col-xs-1"><i class="fa fa-ellipsis-v"></i></div>
<div class="col-xs-1"><i class="fab fa-ember"></i></div>
<div class="col-xs-1"><i class="fab fa-empire"></i></div>
<div class="col-xs-1"><i class="fa fa-envelope"></i></div>
<div class="col-xs-1"><i class="far fa-envelope"></i></div>
<div class="col-xs-1"><i class="fa fa-envelope-open"></i></div>
<div class="col-xs-1"><i class="far fa-envelope-open"></i></div>
<div class="col-xs-1"><i class="fa fa-envelope-square"></i></div>
<div class="col-xs-1"><i class="fab fa-envira"></i></div>
<div class="col-xs-1"><i class="fa fa-eraser"></i></div>
<div class="col-xs-1"><i class="fab fa-erlang"></i></div>
<div class="col-xs-1"><i class="fab fa-ethereum"></i></div>
<div class="col-xs-1"><i class="fab fa-etsy"></i></div>
<div class="col-xs-1"><i class="fa fa-euro-sign"></i></div>
<div class="col-xs-1"><i class="fa fa-exchange-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-exclamation"></i></div>
<div class="col-xs-1"><i class="fa fa-exclamation-circle"></i></div>
<div class="col-xs-1"><i class="fa fa-exclamation-triangle"></i></div>
<div class="col-xs-1"><i class="fa fa-expand"></i></div>
<div class="col-xs-1"><i class="fa fa-expand-arrows-alt"></i></div>
<div class="col-xs-1"><i class="fab fa-expeditedssl"></i></div>
<div class="col-xs-1"><i class="fa fa-external-link-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-external-link-square-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-eye"></i></div>
<div class="col-xs-1"><i class="fa fa-eye-dropper"></i></div>
<div class="col-xs-1"><i class="fa fa-eye-slash"></i></div>

<div class="col-xs-12"><h4>F</h4></div>
<div class="col-xs-1"><i class="fab fa-facebook"></i></div>
<div class="col-xs-1"><i class="fab fa-facebook-f"></i></div>
<div class="col-xs-1"><i class="fab fa-facebook-messenger"></i></div>
<div class="col-xs-1"><i class="fab fa-facebook-square"></i></div>
<div class="col-xs-1"><i class="fa fa-fast-backward"></i></div>
<div class="col-xs-1"><i class="fa fa-fast-forward"></i></div>
<div class="col-xs-1"><i class="fa fa-fax"></i></div>
<div class="col-xs-1"><i class="fa fa-female"></i></div>
<div class="col-xs-1"><i class="fa fa-fighter-jet"></i></div>
<div class="col-xs-1"><i class="fa fa-file"></i></div>
<div class="col-xs-1"><i class="fa fa-file-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-file-archive"></i></div>
<div class="col-xs-1"><i class="fa fa-file-audio"></i></div>
<div class="col-xs-1"><i class="fa fa-file-code"></i></div>
<div class="col-xs-1"><i class="fa fa-file-excel"></i></div>
<div class="col-xs-1"><i class="fa fa-file-image"></i></div>
<div class="col-xs-1"><i class="fa fa-file-pdf"></i></div>
<div class="col-xs-1"><i class="fa fa-file-powerpoint"></i></div>
<div class="col-xs-1"><i class="fa fa-file-video"></i></div>
<div class="col-xs-1"><i class="fa fa-file-word"></i></div>
<div class="col-xs-1"><i class="fa fa-film"></i></div>
<div class="col-xs-1"><i class="fas fa-filter"></i></div>
<div class="col-xs-1"><i class="fas fa-fingerprint"></i></div>
<div class="col-xs-1"><i class="fa fa-fire"></i></div>
<div class="col-xs-1"><i class="fa fa-fire-extinguisher"></i></div>
<div class="col-xs-1"><i class="fab fa-firefox"></i></div>
<div class="col-xs-1"><i class="fab fa-first-order"></i></div>
<div class="col-xs-1"><i class="fab fa-firstdraft"></i></div>
<div class="col-xs-1"><i class="fas fa-fish"></i></div>
<div class="col-xs-1"><i class="fas fa-flag"></i></div>
<div class="col-xs-1"><i class="far fa-flag"></i></div>
<div class="col-xs-1"><i class="fa fa-flag-checkered"></i></div>
<div class="col-xs-1"><i class="fa fa-flask"></i></div>
<div class="col-xs-1"><i class="fab fa-flickr"></i></div>
<div class="col-xs-1"><i class="fab fa-flipboard"></i></div>
<div class="col-xs-1"><i class="fab fa-fly"></i></div>
<div class="col-xs-1"><i class="fa fa-folder"></i></div>
<div class="col-xs-1"><i class="fa fa-folder-open"></i></div>
<div class="col-xs-1"><i class="fa fa-font"></i></div>
<div class="col-xs-1"><i class="fab fa-font-awesome"></i></div>
<div class="col-xs-1"><i class="fab fa-font-awesome-alt"></i></div>
<div class="col-xs-1"><i class="fab fa-font-awesome-flag"></i></div>
<div class="col-xs-1"><i class="fab fa-fonticons"></i></div>
<div class="col-xs-1"><i class="fab fa-fonticons-fi"></i></div>
<div class="col-xs-1"><i class="fa fa-football-ball"></i></div>
<div class="col-xs-1"><i class="fab fa-fort-awesome"></i></div>
<div class="col-xs-1"><i class="fab fa-fort-awesome-alt"></i></div>
<div class="col-xs-1"><i class="fab fa-forumbee"></i></div>
<div class="col-xs-1"><i class="fa fa-forward"></i></div>
<div class="col-xs-1"><i class="fab fa-foursquare"></i></div>
<div class="col-xs-1"><i class="fab fa-free-code-camp"></i></div>
<div class="col-xs-1"><i class="fab fa-freebsd"></i></div>
<div class="col-xs-1"><i class="fa fa-frog"></i></div>
<div class="col-xs-1"><i class="fa fa-frown"></i></div>
<div class="col-xs-1"><i class="fa fa-futbol"></i></div>

<div class="col-xs-12"><h4>G</h4></div>
<div class="col-xs-1"><i class="fas fa-gamepad"></i></div>
<div class="col-xs-1"><i class="fas fa-gas-pump"></i></div>
<div class="col-xs-1"><i class="fa fa-gavel"></i></div>
<div class="col-xs-1"><i class="fa fa-gem"></i></div>
<div class="col-xs-1"><i class="far fa-gem"></i></div>
<div class="col-xs-1"><i class="fa fa-genderless"></i></div>
<div class="col-xs-1"><i class="fab fa-get-pocket"></i></div>
<div class="col-xs-1"><i class="fab fa-gg"></i></div>
<div class="col-xs-1"><i class="fab fa-gg-circle"></i></div>
<div class="col-xs-1"><i class="fa fa-gift"></i></div>
<div class="col-xs-1"><i class="fab fa-git"></i></div>
<div class="col-xs-1"><i class="fab fa-git-square"></i></div>
<div class="col-xs-1"><i class="fab fa-github"></i></div>
<div class="col-xs-1"><i class="fab fa-github-alt"></i></div>
<div class="col-xs-1"><i class="fab fa-github-square"></i></div>
<div class="col-xs-1"><i class="fab fa-gitkraken"></i></div>
<div class="col-xs-1"><i class="fab fa-gitlab"></i></div>
<div class="col-xs-1"><i class="fab fa-gitter"></i></div>
<div class="col-xs-1"><i class="fas fa-glass-martini"></i></div>
<div class="col-xs-1"><i class="fas fa-glass-martini-alt"></i></div>
<div class="col-xs-1"><i class="fab fa-glide"></i></div>
<div class="col-xs-1"><i class="fab fa-glide-g"></i></div>
<div class="col-xs-1"><i class="fas fa-globe"></i></div>
<div class="col-xs-1"><i class="fas fa-globe-africa"></i></div>
<div class="col-xs-1"><i class="fas fa-globe-americas"></i></div>
<div class="col-xs-1"><i class="fas fa-globe-asia"></i></div>
<div class="col-xs-1"><i class="fab fa-gofore"></i></div>
<div class="col-xs-1"><i class="fa fa-golf-ball"></i></div>
<div class="col-xs-1"><i class="fab fa-goodreads"></i></div>
<div class="col-xs-1"><i class="fab fa-goodreads-g"></i></div>
<div class="col-xs-1"><i class="fab fa-google"></i></div>
<div class="col-xs-1"><i class="fab fa-google-drive"></i></div>
<div class="col-xs-1"><i class="fab fa-google-play"></i></div>
<div class="col-xs-1"><i class="fab fa-google-plus"></i></div>
<div class="col-xs-1"><i class="fab fa-google-plus-g"></i></div>
<div class="col-xs-1"><i class="fab fa-google-plus-square"></i></div>
<div class="col-xs-1"><i class="fab fa-google-wallet"></i></div>
<div class="col-xs-1"><i class="fa fa-graduation-cap"></i></div>
<div class="col-xs-1"><i class="fab fa-gratipay"></i></div>
<div class="col-xs-1"><i class="fab fa-grav"></i></div>
<div class="col-xs-1"><i class="fas fa-grimace"></i></div>
<div class="col-xs-1"><i class="far fa-grimace"></i></div>
<div class="col-xs-1"><i class="fas fa-grin"></i></div>
<div class="col-xs-1"><i class="far fa-grin"></i></div>
<div class="col-xs-1"><i class="fas fa-grin-alt"></i></div>
<div class="col-xs-1"><i class="far fa-grin-alt"></i></div>
<div class="col-xs-1"><i class="fas fa-grin-beam"></i></div>
<div class="col-xs-1"><i class="far fa-grin-beam"></i></div>
<div class="col-xs-1"><i class="fas fa-grin-beam-sweat"></i></div>
<div class="col-xs-1"><i class="far fa-grin-beam-sweat"></i></div>
<div class="col-xs-1"><i class="fas fa-grin-hearts"></i></div>
<div class="col-xs-1"><i class="far fa-grin-hearts"></i></div>
<div class="col-xs-1"><i class="fas fa-grin-squint"></i></div>
<div class="col-xs-1"><i class="far fa-grin-squint"></i></div>
<div class="col-xs-1"><i class="fas fa-grin-squint-tears"></i></div>
<div class="col-xs-1"><i class="far fa-grin-squint-tears"></i></div>
<div class="col-xs-1"><i class="fas fa-grin-stars"></i></div>
<div class="col-xs-1"><i class="far fa-grin-stars"></i></div>
<div class="col-xs-1"><i class="fas fa-grin-tears"></i></div>
<div class="col-xs-1"><i class="far fa-grin-tears"></i></div>
<div class="col-xs-1"><i class="fas fa-grin-tongue"></i></div>
<div class="col-xs-1"><i class="far fa-grin-tongue"></i></div>
<div class="col-xs-1"><i class="fas fa-grin-tongue-squint"></i></div>
<div class="col-xs-1"><i class="far fa-grin-tongue-squint"></i></div>
<div class="col-xs-1"><i class="fas fa-grin-tongue-wink"></i></div>
<div class="col-xs-1"><i class="far fa-grin-tongue-wink"></i></div>
<div class="col-xs-1"><i class="fas fa-grin-wink"></i></div>
<div class="col-xs-1"><i class="far fa-grin-wink"></i></div>
<div class="col-xs-1"><i class="fas fa-grip-horizontal"></i></div>
<div class="col-xs-1"><i class="fas fa-grip-vertical"></i></div>
<div class="col-xs-1"><i class="fab fa-gripfire"></i></div>
<div class="col-xs-1"><i class="fab fa-grunt"></i></div>
<div class="col-xs-1"><i class="fab fa-gulp"></i></div>

<div class="col-xs-12"><h4>H</h4></div>
<div class="col-xs-1"><i class="fa fa-h-square"></i></div>
<div class="col-xs-1"><i class="fab fa-hacker-news"></i></div>
<div class="col-xs-1"><i class="fab fa-hacker-news-square"></i></div>
<div class="col-xs-1"><i class="fa fa-hand-lizard"></i></div>
<div class="col-xs-1"><i class="fa fa-hand-paper"></i></div>
<div class="col-xs-1"><i class="fa fa-hand-peace"></i></div>
<div class="col-xs-1"><i class="fa fa-hand-point-down"></i></div>
<div class="col-xs-1"><i class="fa fa-hand-point-left"></i></div>
<div class="col-xs-1"><i class="fa fa-hand-point-right"></i></div>
<div class="col-xs-1"><i class="fa fa-hand-point-up"></i></div>
<div class="col-xs-1"><i class="fa fa-hand-pointer"></i></div>
<div class="col-xs-1"><i class="fa fa-hand-rock"></i></div>
<div class="col-xs-1"><i class="fa fa-hand-scissors"></i></div>
<div class="col-xs-1"><i class="fa fa-hand-spock"></i></div>
<div class="col-xs-1"><i class="fa fa-handshake"></i></div>
<div class="col-xs-1"><i class="far fa-handshake"></i></div>
<div class="col-xs-1"><i class="fa fa-hashtag"></i></div>
<div class="col-xs-1"><i class="fa fa-hdd"></i></div>
<div class="col-xs-1"><i class="far fa-hdd"></i></div>
<div class="col-xs-1"><i class="fa fa-heading"></i></div>
<div class="col-xs-1"><i class="fa fa-headphones"></i></div>
<div class="col-xs-1"><i class="fa fa-heart"></i></div>
<div class="col-xs-1"><i class="far fa-heart"></i></div>
<div class="col-xs-1"><i class="fa fa-heartbeat"></i></div>
<div class="col-xs-1"><i class="fas fa-helicopter"></i></div>
<div class="col-xs-1"><i class="fas fa-highlighter"></i></div>
<div class="col-xs-1"><i class="fab fa-hips"></i></div>
<div class="col-xs-1"><i class="fab fa-hire-a-helper"></i></div>
<div class="col-xs-1"><i class="fa fa-history"></i></div>
<div class="col-xs-1"><i class="fa fa-hockey-puck"></i></div>
<div class="col-xs-1"><i class="fa fa-home"></i></div>
<div class="col-xs-1"><i class="fab fa-hooli"></i></div>
<div class="col-xs-1"><i class="fa fa-hospital"></i></div>
<div class="col-xs-1"><i class="far fa-hospital"></i></div>
<div class="col-xs-1"><i class="fas fa-hospital-alt"></i></div>
<div class="col-xs-1"><i class="fas fa-hospital-symbol"></i></div>
<div class="col-xs-1"><i class="fas fa-hot-tub"></i></div>
<div class="col-xs-1"><i class="fas fa-hotel"></i></div>
<div class="col-xs-1"><i class="fab fa-hotjar"></i></div>
<div class="col-xs-1"><i class="fa fa-hourglass"></i></div>
<div class="col-xs-1"><i class="far fa-hourglass"></i></div>
<div class="col-xs-1"><i class="fa fa-hourglass-end"></i></div>
<div class="col-xs-1"><i class="fa fa-hourglass-half"></i></div>
<div class="col-xs-1"><i class="fa fa-hourglass-start"></i></div>
<div class="col-xs-1"><i class="fab fa-houzz"></i></div>
<div class="col-xs-1"><i class="fab fa-html5"></i></div>
<div class="col-xs-1"><i class="fab fa-hubspot"></i></div>

<div class="col-xs-12"><h4>I</h4></div>
<div class="col-xs-1"><i class="fa fa-i-cursor"></i></div>
<div class="col-xs-1"><i class="fa fa-id-badge"></i></div>
<div class="col-xs-1"><i class="far fa-id-badge"></i></div>
<div class="col-xs-1"><i class="fa fa-id-card"></i></div>
<div class="col-xs-1"><i class="far fa-id-card"></i></div>
<div class="col-xs-1"><i class="fas fa-id-card-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-image"></i></div>
<div class="col-xs-1"><i class="far fa-image"></i></div>
<div class="col-xs-1"><i class="fa fa-images"></i></div>
<div class="col-xs-1"><i class="far fa-images"></i></div>
<div class="col-xs-1"><i class="fab fa-imdb"></i></div>
<div class="col-xs-1"><i class="fa fa-inbox"></i></div>
<div class="col-xs-1"><i class="fa fa-indent"></i></div>
<div class="col-xs-1"><i class="fa fa-industry"></i></div>
<div class="col-xs-1"><i class="fas fa-infinity"></i></div>
<div class="col-xs-1"><i class="fa fa-info"></i></div>
<div class="col-xs-1"><i class="fa fa-info-circle"></i></div>
<div class="col-xs-1"><i class="fab fa-instagram"></i></div>
<div class="col-xs-1"><i class="fab fa-internet-explorer"></i></div>
<div class="col-xs-1"><i class="fab fa-ioxhost"></i></div>
<div class="col-xs-1"><i class="fa fa-italic"></i></div>
<div class="col-xs-1"><i class="fab fa-itunes"></i></div>
<div class="col-xs-1"><i class="fab fa-itunes-note"></i></div>

<div class="col-xs-12"><h4>J</h4></div>
<div class="col-xs-1"><i class="fab fa-jenkins"></i></div>
<div class="col-xs-1"><i class="fab fa-joget"></i></div>
<div class="col-xs-1"><i class="fab fa-joomla"></i></div>
<div class="col-xs-1"><i class="fab fa-js"></i></div>
<div class="col-xs-1"><i class="fab fa-js-square"></i></div>
<div class="col-xs-1"><i class="fab fa-jsfiddle"></i></div>

<div class="col-xs-12"><h4>K</h4></div>
<div class="col-xs-1"><i class="fa fa-key"></i></div>
<div class="col-xs-1"><i class="fas fa-keyboard"></i></div>
<div class="col-xs-1"><i class="far fa-keyboard"></i></div>
<div class="col-xs-1"><i class="fab fa-keycdn"></i></div>
<div class="col-xs-1"><i class="fab fa-kickstarter"></i></div>
<div class="col-xs-1"><i class="fab fa-kickstarter-k"></i></div>
<div class="col-xs-1"><i class="fa fa-kiwi-bird"></i></div>
<div class="col-xs-1"><i class="fab fa-korvue"></i></div>

<div class="col-xs-12"><h4>L</h4></div>
<div class="col-xs-1"><i class="fa fa-language"></i></div>
<div class="col-xs-1"><i class="fa fa-laptop"></i></div>
<div class="col-xs-1"><i class="fab fa-laravel"></i></div>
<div class="col-xs-1"><i class="fab fa-lastfm"></i></div>
<div class="col-xs-1"><i class="fab fa-lastfm-square"></i></div>
<div class="col-xs-1"><i class="fas fa-laugh"></i></div>
<div class="col-xs-1"><i class="far fa-laugh"></i></div>
<div class="col-xs-1"><i class="fas fa-laugh-beam"></i></div>
<div class="col-xs-1"><i class="far fa-laugh-beam"></i></div>
<div class="col-xs-1"><i class="fas fa-laugh-squint"></i></div>
<div class="col-xs-1"><i class="far fa-laugh-squint"></i></div>
<div class="col-xs-1"><i class="fas fa-laugh-wink"></i></div>
<div class="col-xs-1"><i class="far fa-laugh-wink"></i></div>
<div class="col-xs-1"><i class="fa fa-leaf"></i></div>
<div class="col-xs-1"><i class="fab fa-leanpub"></i></div>
<div class="col-xs-1"><i class="fa fa-lemon"></i></div>
<div class="col-xs-1"><i class="far fa-lemon"></i></div>
<div class="col-xs-1"><i class="fab fa-less"></i></div>
<div class="col-xs-1"><i class="fa fa-level-down-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-level-up-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-life-ring"></i></div>
<div class="col-xs-1"><i class="far fa-life-ring"></i></div>
<div class="col-xs-1"><i class="fa fa-lightbulb"></i></div>
<div class="col-xs-1"><i class="far fa-lightbulb"></i></div>
<div class="col-xs-1"><i class="fab fa-line"></i></div>
<div class="col-xs-1"><i class="fa fa-link"></i></div>
<div class="col-xs-1"><i class="fab fa-linkedin"></i></div>
<div class="col-xs-1"><i class="fab fa-linkedin-in"></i></div>
<div class="col-xs-1"><i class="fab fa-linode"></i></div>
<div class="col-xs-1"><i class="fab fa-linux"></i></div>
<div class="col-xs-1"><i class="fa fa-lira-sign"></i></div>
<div class="col-xs-1"><i class="fa fa-list"></i></div>
<div class="col-xs-1"><i class="fa fa-list-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-list-ol"></i></div>
<div class="col-xs-1"><i class="fa fa-list-ul"></i></div>
<div class="col-xs-1"><i class="fa fa-location-arrow"></i></div>
<div class="col-xs-1"><i class="fa fa-lock"></i></div>
<div class="col-xs-1"><i class="fa fa-lock-open"></i></div>
<div class="col-xs-1"><i class="fa fa-long-arrow-alt-down"></i></div>
<div class="col-xs-1"><i class="fa fa-long-arrow-alt-left"></i></div>
<div class="col-xs-1"><i class="fa fa-long-arrow-alt-right"></i></div>
<div class="col-xs-1"><i class="fa fa-long-arrow-alt-up"></i></div>
<div class="col-xs-1"><i class="fa fa-low-vision"></i></div>
<div class="col-xs-1"><i class="fab fa-lyft"></i></div>

<div class="col-xs-12"><h4>M</h4></div>
<div class="col-xs-1"><i class="fab fa-magento"></i></div>
<div class="col-xs-1"><i class="fa fa-magic"></i></div>
<div class="col-xs-1"><i class="fa fa-magnet"></i></div>
<div class="col-xs-1"><i class="fab fa-mailchimp"></i></div>
<div class="col-xs-1"><i class="fa fa-male"></i></div>
<div class="col-xs-1"><i class="fa fa-map"></i></div>
<div class="col-xs-1"><i class="far fa-map"></i></div>
<div class="col-xs-1"><i class="fa fa-map-marker"></i></div>
<div class="col-xs-1"><i class="fa fa-map-marker-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-map-pin"></i></div>
<div class="col-xs-1"><i class="fa fa-map-signs"></i></div>
<div class="col-xs-1"><i class="fa fa-mars"></i></div>
<div class="col-xs-1"><i class="fa fa-mars-double"></i></div>
<div class="col-xs-1"><i class="fa fa-mars-stroke"></i></div>
<div class="col-xs-1"><i class="fa fa-mars-stroke-h"></i></div>
<div class="col-xs-1"><i class="fa fa-mars-stroke-v"></i></div>
<div class="col-xs-1"><i class="fab fa-maxcdn"></i></div>
<div class="col-xs-1"><i class="fab fa-medapps"></i></div>
<div class="col-xs-1"><i class="fab fa-medium"></i></div>
<div class="col-xs-1"><i class="fab fa-medium-m"></i></div>
<div class="col-xs-1"><i class="fa fa-medkit"></i></div>
<div class="col-xs-1"><i class="fab fa-medrt"></i></div>
<div class="col-xs-1"><i class="fab fa-meetup"></i></div>
<div class="col-xs-1"><i class="fa fa-meh"></i></div>
<div class="col-xs-1"><i class="far fa-meh"></i></div>
<div class="col-xs-1"><i class="fa fa-memory"></i></div>
<div class="col-xs-1"><i class="fa fa-mercury"></i></div>
<div class="col-xs-1"><i class="fa fa-microchip"></i></div>
<div class="col-xs-1"><i class="fa fa-microphone"></i></div>
<div class="col-xs-1"><i class="fa fa-microphone-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-microphone-slash"></i></div>
<div class="col-xs-1"><i class="fa fa-microphone-alt-slash"></i></div>
<div class="col-xs-1"><i class="fab fa-microsoft"></i></div>
<div class="col-xs-1"><i class="fa fa-minus"></i></div>
<div class="col-xs-1"><i class="fa fa-minus-circle"></i></div>
<div class="col-xs-1"><i class="fa fa-minus-square"></i></div>
<div class="col-xs-1"><i class="fab fa-mix"></i></div>
<div class="col-xs-1"><i class="fab fa-mixcloud"></i></div>
<div class="col-xs-1"><i class="fab fa-mizuni"></i></div>
<div class="col-xs-1"><i class="fa fa-mobile"></i></div>
<div class="col-xs-1"><i class="fa fa-mobile-alt"></i></div>
<div class="col-xs-1"><i class="fab fa-modx"></i></div>
<div class="col-xs-1"><i class="fab fa-monero"></i></div>
<div class="col-xs-1"><i class="fa fa-money-bill"></i></div>
<div class="col-xs-1"><i class="fa fa-money-bill-alt"></i></div>
<div class="col-xs-1"><i class="far fa-money-bill-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-money-bill-wave"></i></div>
<div class="col-xs-1"><i class="fa fa-money-bill-wave-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-moon"></i></div>
<div class="col-xs-1"><i class="fa fa-motorcycle"></i></div>
<div class="col-xs-1"><i class="fa fa-mouse-pointer"></i></div>
<div class="col-xs-1"><i class="fa fa-music"></i></div>

<div class="col-xs-12"><h4>N</h4></div>
<div class="col-xs-1"><i class="fab fa-napster"></i></div>
<div class="col-xs-1"><i class="fa fa-neuter"></i></div>
<div class="col-xs-1"><i class="fa fa-newspaper"></i></div>
<div class="col-xs-1"><i class="far fa-newspaper"></i></div>
<div class="col-xs-1"><i class="fab fa-nintendo-switch"></i></div>
<div class="col-xs-1"><i class="fab fa-node"></i></div>
<div class="col-xs-1"><i class="fab fa-node-js"></i></div>
<div class="col-xs-1"><i class="fab fa-npm"></i></div>
<div class="col-xs-1"><i class="fab fa-ns8"></i></div>
<div class="col-xs-1"><i class="fab fa-nutritionix"></i></div>

<div class="col-xs-12"><h4>O</h4></div>
<div class="col-xs-1"><i class="fa fa-object-group"></i></div>
<div class="col-xs-1"><i class="fa fa-object-ungroup"></i></div>
<div class="col-xs-1"><i class="fab fa-odnoklassniki"></i></div>
<div class="col-xs-1"><i class="fab fa-odnoklassniki-square"></i></div>
<div class="col-xs-1"><i class="fas fa-oil-can"></i></div>
<div class="col-xs-1"><i class="fab fa-opencart"></i></div>
<div class="col-xs-1"><i class="fab fa-openid"></i></div>
<div class="col-xs-1"><i class="fab fa-opera"></i></div>
<div class="col-xs-1"><i class="fab fa-optin-monster"></i></div>
<div class="col-xs-1"><i class="fab fa-osi"></i></div>
<div class="col-xs-1"><i class="fa fa-outdent"></i></div>

<div class="col-xs-12"><h4>P</h4></div>
<div class="col-xs-1"><i class="fab fa-page4"></i></div>
<div class="col-xs-1"><i class="fab fa-pagelines"></i></div>
<div class="col-xs-1"><i class="fas fa-paint-brush"></i></div>
<div class="col-xs-1"><i class="fas fa-paint-roller"></i></div>
<div class="col-xs-1"><i class="fas fa-palette"></i></div>
<div class="col-xs-1"><i class="fab fa-palfed"></i></div>
<div class="col-xs-1"><i class="fas fa-pallet"></i></div>
<div class="col-xs-1"><i class="fa fa-paper-plane"></i></div>
<div class="col-xs-1"><i class="far fa-paper-plane"></i></div>
<div class="col-xs-1"><i class="fas fa-paperclip"></i></div>
<div class="col-xs-1"><i class="fas fa-parachute-box"></i></div>
<div class="col-xs-1"><i class="fas fa-paragraph"></i></div>
<div class="col-xs-1"><i class="fas fa-parking"></i></div>
<div class="col-xs-1"><i class="fas fa-passport"></i></div>
<div class="col-xs-1"><i class="fa fa-paste"></i></div>
<div class="col-xs-1"><i class="fab fa-patreon"></i></div>
<div class="col-xs-1"><i class="fa fa-pause"></i></div>
<div class="col-xs-1"><i class="fa fa-pause-circle"></i></div>
<div class="col-xs-1"><i class="fa fa-paw"></i></div>
<div class="col-xs-1"><i class="fab fa-paypal"></i></div>
<div class="col-xs-1"><i class="fa fa-pen-square"></i></div>
<div class="col-xs-1"><i class="fa fa-pencil-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-people-carry"></i></div>
<div class="col-xs-1"><i class="fa fa-percent"></i></div>
<div class="col-xs-1"><i class="fab fa-periscope"></i></div>
<div class="col-xs-1"><i class="fab fa-phabricator"></i></div>
<div class="col-xs-1"><i class="fab fa-phoenix-framework"></i></div>
<div class="col-xs-1"><i class="fa fa-phone"></i></div>
<div class="col-xs-1"><i class="fa fa-phone-square"></i></div>
<div class="col-xs-1"><i class="fa fa-phone-volume"></i></div>
<div class="col-xs-1"><i class="fab fa-php"></i></div>
<div class="col-xs-1"><i class="fab fa-pied-piper"></i></div>
<div class="col-xs-1"><i class="fab fa-pied-piper-alt"></i></div>
<div class="col-xs-1"><i class="fab fa-pied-piper-pp"></i></div>
<div class="col-xs-1"><i class="fa fa-piggy-bank"></i></div>
<div class="col-xs-1"><i class="fa fa-pills"></i></div>
<div class="col-xs-1"><i class="fab fa-pinterest"></i></div>
<div class="col-xs-1"><i class="fab fa-pinterest-p"></i></div>
<div class="col-xs-1"><i class="fab fa-pinterest-square"></i></div>
<div class="col-xs-1"><i class="fa fa-plane"></i></div>
<div class="col-xs-1"><i class="fa fa-play"></i></div>
<div class="col-xs-1"><i class="fa fa-play-circle"></i></div>
<div class="col-xs-1"><i class="fab fa-playstation"></i></div>
<div class="col-xs-1"><i class="fa fa-plug"></i></div>
<div class="col-xs-1"><i class="fa fa-plus"></i></div>
<div class="col-xs-1"><i class="fa fa-plus-circle"></i></div>
<div class="col-xs-1"><i class="fa fa-plus-square"></i></div>
<div class="col-xs-1"><i class="fa fa-podcast"></i></div>
<div class="col-xs-1"><i class="fa fa-pound-sign"></i></div>
<div class="col-xs-1"><i class="fa fa-power-off"></i></div>
<div class="col-xs-1"><i class="fa fa-print"></i></div>
<div class="col-xs-1"><i class="fa fa-procedures"></i></div>
<div class="col-xs-1"><i class="fab fa-product-hunt"></i></div>
<div class="col-xs-1"><i class="fa fa-project-diagram"></i></div>
<div class="col-xs-1"><i class="fab fa-pushed"></i></div>
<div class="col-xs-1"><i class="fa fa-puzzle-piece"></i></div>
<div class="col-xs-1"><i class="fab fa-python"></i></div>

<div class="col-xs-12"><h4>Q</h4></div>
<div class="col-xs-1"><i class="fab fa-qq"></i></div>
<div class="col-xs-1"><i class="fa fa-qrcode"></i></div>
<div class="col-xs-1"><i class="fa fa-question"></i></div>
<div class="col-xs-1"><i class="fa fa-question-circle"></i></div>
<div class="col-xs-1"><i class="fa fa-quidditch"></i></div>
<div class="col-xs-1"><i class="fab fa-quinscape"></i></div>
<div class="col-xs-1"><i class="fab fa-quora"></i></div>
<div class="col-xs-1"><i class="fa fa-quote-left"></i></div>
<div class="col-xs-1"><i class="fa fa-quote-right"></i></div>

<div class="col-xs-12"><h4>R</h4></div>
<div class="col-xs-1"><i class="fa fa-random"></i></div>
<div class="col-xs-1"><i class="fab fa-ravelry"></i></div>
<div class="col-xs-1"><i class="fab fa-react"></i></div>
<div class="col-xs-1"><i class="fab fa-rebel"></i></div>
<div class="col-xs-1"><i class="fa fa-recycle"></i></div>
<div class="col-xs-1"><i class="fab fa-red-river"></i></div>
<div class="col-xs-1"><i class="fab fa-reddit"></i></div>
<div class="col-xs-1"><i class="fab fa-reddit-alien"></i></div>
<div class="col-xs-1"><i class="fab fa-reddit-square"></i></div>
<div class="col-xs-1"><i class="fa fa-redo"></i></div>
<div class="col-xs-1"><i class="fa fa-redo-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-registered"></i></div>
<div class="col-xs-1"><i class="far fa-registered"></i></div>
<div class="col-xs-1"><i class="fab fa-rendact"></i></div>
<div class="col-xs-1"><i class="fab fa-renren"></i></div>
<div class="col-xs-1"><i class="fa fa-reply"></i></div>
<div class="col-xs-1"><i class="fa fa-reply-all"></i></div>
<div class="col-xs-1"><i class="fab fa-replyd"></i></div>
<div class="col-xs-1"><i class="fab fa-resolving"></i></div>
<div class="col-xs-1"><i class="fa fa-retweet"></i></div>
<div class="col-xs-1"><i class="fa fa-road"></i></div>
<div class="col-xs-1"><i class="fa fa-rocket"></i></div>
<div class="col-xs-1"><i class="fab fa-rocketchat"></i></div>
<div class="col-xs-1"><i class="fab fa-rockrms"></i></div>
<div class="col-xs-1"><i class="fa fa-rss"></i></div>
<div class="col-xs-1"><i class="fa fa-rss-square"></i></div>
<div class="col-xs-1"><i class="fa fa-ruble-sign"></i></div>
<div class="col-xs-1"><i class="fa fa-rupee-sign"></i></div>

<div class="col-xs-12"><h4>S</h4></div>
<div class="col-xs-1"><i class="fab fa-safari"></i></div>
<div class="col-xs-1"><i class="fab fa-sass"></i></div>
<div class="col-xs-1"><i class="fa fa-save"></i></div>
<div class="col-xs-1"><i class="far fa-save"></i></div>
<div class="col-xs-1"><i class="fab fa-schlix"></i></div>
<div class="col-xs-1"><i class="fa fa-school"></i></div>
<div class="col-xs-1"><i class="fa fa-screwdriver"></i></div>
<div class="col-xs-1"><i class="fab fa-scribd"></i></div>
<div class="col-xs-1"><i class="fa fa-search"></i></div>
<div class="col-xs-1"><i class="fa fa-search-minus"></i></div>
<div class="col-xs-1"><i class="fa fa-search-plus"></i></div>
<div class="col-xs-1"><i class="fab fa-searchengin"></i></div>
<div class="col-xs-1"><i class="fab fa-sellcast"></i></div>
<div class="col-xs-1"><i class="fab fa-sellsy"></i></div>
<div class="col-xs-1"><i class="fa fa-server"></i></div>
<div class="col-xs-1"><i class="fab fa-servicestack"></i></div>
<div class="col-xs-1"><i class="fa fa-share"></i></div>
<div class="col-xs-1"><i class="fa fa-share-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-share-alt-square"></i></div>
<div class="col-xs-1"><i class="fa fa-share-square"></i></div>
<div class="col-xs-1"><i class="fa fa-shekel-sign"></i></div>
<div class="col-xs-1"><i class="fa fa-shield-alt"></i></div>
<div class="col-xs-1"><i class="fas fa-ship"></i></div>
<div class="col-xs-1"><i class="fas fa-shipping-fast"></i></div>
<div class="col-xs-1"><i class="fab fa-shirtsinbulk"></i></div>
<div class="col-xs-1"><i class="fa fa-shopping-bag"></i></div>
<div class="col-xs-1"><i class="fa fa-shopping-basket"></i></div>
<div class="col-xs-1"><i class="fa fa-shopping-cart"></i></div>
<div class="col-xs-1"><i class="fas fa-shower"></i></div>
<div class="col-xs-1"><i class="fas fa-shuttle-van"></i></div>
<div class="col-xs-1"><i class="fa fa-sign-in-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-sign-language"></i></div>
<div class="col-xs-1"><i class="fa fa-sign-out-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-signal"></i></div>
<div class="col-xs-1"><i class="fab fa-simplybuilt"></i></div>
<div class="col-xs-1"><i class="fab fa-sistrix"></i></div>
<div class="col-xs-1"><i class="fas fa-sitemap"></i></div>
<div class="col-xs-1"><i class="fas fa-skull"></i></div>
<div class="col-xs-1"><i class="fab fa-skyatlas"></i></div>
<div class="col-xs-1"><i class="fab fa-skype"></i></div>
<div class="col-xs-1"><i class="fab fa-slack"></i></div>
<div class="col-xs-1"><i class="fab fa-slack-hash"></i></div>
<div class="col-xs-1"><i class="fa fa-sliders-h"></i></div>
<div class="col-xs-1"><i class="fab fa-slideshare"></i></div>
<div class="col-xs-1"><i class="fas fa-smile"></i></div>
<div class="col-xs-1"><i class="far fa-smile"></i></div>
<div class="col-xs-1"><i class="fas fa-smile-beam"></i></div>
<div class="col-xs-1"><i class="far fa-smile-beam"></i></div>
<div class="col-xs-1"><i class="fas fa-smile-wink"></i></div>
<div class="col-xs-1"><i class="far fa-smile-wink"></i></div>
<div class="col-xs-1"><i class="fas fa-smoking"></i></div>
<div class="col-xs-1"><i class="fas fa-smoking-ban"></i></div>
<div class="col-xs-1"><i class="fab fa-snapchat"></i></div>
<div class="col-xs-1"><i class="fab fa-snapchat-ghost"></i></div>
<div class="col-xs-1"><i class="fab fa-snapchat-square"></i></div>
<div class="col-xs-1"><i class="fa fa-snowflake"></i></div>
<div class="col-xs-1"><i class="far fa-snowflake"></i></div>
<div class="col-xs-1"><i class="fas fa-solar-panel"></i></div>
<div class="col-xs-1"><i class="fa fa-sort"></i></div>
<div class="col-xs-1"><i class="fa fa-sort-alpha-down"></i></div>
<div class="col-xs-1"><i class="fa fa-sort-alpha-up"></i></div>
<div class="col-xs-1"><i class="fa fa-sort-amount-down"></i></div>
<div class="col-xs-1"><i class="fa fa-sort-amount-up"></i></div>
<div class="col-xs-1"><i class="fa fa-sort-down"></i></div>
<div class="col-xs-1"><i class="fa fa-sort-numeric-down"></i></div>
<div class="col-xs-1"><i class="fa fa-sort-numeric-up"></i></div>
<div class="col-xs-1"><i class="fa fa-sort-up"></i></div>
<div class="col-xs-1"><i class="fab fa-soundcloud"></i></div>
<div class="col-xs-1"><i class="fas fa-spa"></i></div>
<div class="col-xs-1"><i class="fa fa-space-shuttle"></i></div>
<div class="col-xs-1"><i class="fab fa-speakap"></i></div>
<div class="col-xs-1"><i class="fa fa-spinner"></i></div>
<div class="col-xs-1"><i class="fab fa-spotify"></i></div>
<div class="col-xs-1"><i class="fas fa-spray-can"></i></div>
<div class="col-xs-1"><i class="fa fa-square"></i></div>
<div class="col-xs-1"><i class="fa fa-square-full"></i></div>
<div class="col-xs-1"><i class="fab fa-stack-exchange"></i></div>
<div class="col-xs-1"><i class="fab fa-stack-overflow"></i></div>
<div class="col-xs-1"><i class="fas fa-stamp"></i></div>
<div class="col-xs-1"><i class="fa fa-star"></i></div>
<div class="col-xs-1"><i class="far fa-star"></i></div>
<div class="col-xs-1"><i class="fa fa-star-half"></i></div>
<div class="col-xs-1"><i class="far fa-star-half"></i></div>
<div class="col-xs-1"><i class="fab fa-staylinked"></i></div>
<div class="col-xs-1"><i class="fab fa-steam"></i></div>
<div class="col-xs-1"><i class="fab fa-steam-square"></i></div>
<div class="col-xs-1"><i class="fab fa-steam-symbol"></i></div>
<div class="col-xs-1"><i class="fa fa-step-backward"></i></div>
<div class="col-xs-1"><i class="fa fa-step-forward"></i></div>
<div class="col-xs-1"><i class="fa fa-stethoscope"></i></div>
<div class="col-xs-1"><i class="fab fa-sticker-mule"></i></div>
<div class="col-xs-1"><i class="fa fa-sticky-note"></i></div>
<div class="col-xs-1"><i class="fa fa-stop"></i></div>
<div class="col-xs-1"><i class="fa fa-stop-circle"></i></div>
<div class="col-xs-1"><i class="fa fa-stopwatch"></i></div>
<div class="col-xs-1"><i class="fas fa-store"></i></div>
<div class="col-xs-1"><i class="fas fa-store-alt"></i></div>
<div class="col-xs-1"><i class="fab fa-strava"></i></div>
<div class="col-xs-1"><i class="fa fa-stream"></i></div>
<div class="col-xs-1"><i class="fa fa-street-view"></i></div>
<div class="col-xs-1"><i class="fa fa-strikethrough"></i></div>
<div class="col-xs-1"><i class="fab fa-stripe"></i></div>
<div class="col-xs-1"><i class="fab fa-stripe-s"></i></div>
<div class="col-xs-1"><i class="fab fa-studiovinari"></i></div>
<div class="col-xs-1"><i class="fab fa-stumbleupon"></i></div>
<div class="col-xs-1"><i class="fab fa-stumbleupon-circle"></i></div>
<div class="col-xs-1"><i class="fa fa-subscript"></i></div>
<div class="col-xs-1"><i class="fa fa-subway"></i></div>
<div class="col-xs-1"><i class="fa fa-suitcase"></i></div>
<div class="col-xs-1"><i class="fa fa-sun"></i></div>
<div class="col-xs-1"><i class="fab fa-superpowers"></i></div>
<div class="col-xs-1"><i class="fa fa-superscript"></i></div>
<div class="col-xs-1"><i class="fab fa-supple"></i></div>
<div class="col-xs-1"><i class="fa fa-sync"></i></div>
<div class="col-xs-1"><i class="fa fa-sync-alt"></i></div>

<div class="col-xs-12"><h4>T</h4></div>
<div class="col-xs-1"><i class="fa fa-table"></i></div>
<div class="col-xs-1"><i class="fa fa-table-tennis"></i></div>
<div class="col-xs-1"><i class="fa fa-tablet"></i></div>
<div class="col-xs-1"><i class="fa fa-tablet-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-tachometer-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-tag"></i></div>
<div class="col-xs-1"><i class="fa fa-tags"></i></div>
<div class="col-xs-1"><i class="fa fa-tasks"></i></div>
<div class="col-xs-1"><i class="fa fa-taxi"></i></div>
<div class="col-xs-1"><i class="fab fa-telegram"></i></div>
<div class="col-xs-1"><i class="fab fa-telegram-plane"></i></div>
<div class="col-xs-1"><i class="fab fa-tencent-weibo"></i></div>
<div class="col-xs-1"><i class="fa fa-terminal"></i></div>
<div class="col-xs-1"><i class="fa fa-text-height"></i></div>
<div class="col-xs-1"><i class="fa fa-text-width"></i></div>
<div class="col-xs-1"><i class="fa fa-th"></i></div>
<div class="col-xs-1"><i class="fa fa-th-large"></i></div>
<div class="col-xs-1"><i class="fa fa-th-list"></i></div>
<div class="col-xs-1"><i class="fab fa-themeisle"></i></div>
<div class="col-xs-1"><i class="fa fa-thermometer"></i></div>
<div class="col-xs-1"><i class="fa fa-thermometer-empty"></i></div>
<div class="col-xs-1"><i class="fa fa-thermometer-full"></i></div>
<div class="col-xs-1"><i class="fa fa-thermometer-half"></i></div>
<div class="col-xs-1"><i class="fa fa-thermometer-quarter"></i></div>
<div class="col-xs-1"><i class="fa fa-thermometer-three-quarters"></i></div>
<div class="col-xs-1"><i class="fa fa-thumbs-down"></i></div>
<div class="col-xs-1"><i class="fa fa-thumbs-up"></i></div>
<div class="col-xs-1"><i class="fa fa-thumbtack"></i></div>
<div class="col-xs-1"><i class="fa fa-ticket-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-times"></i></div>
<div class="col-xs-1"><i class="fa fa-times-circle"></i></div>
<div class="col-xs-1"><i class="fa fa-tint"></i></div>
<div class="col-xs-1"><i class="fa fa-toggle-off"></i></div>
<div class="col-xs-1"><i class="fa fa-toggle-on"></i></div>
<div class="col-xs-1"><i class="fa fa-trademark"></i></div>
<div class="col-xs-1"><i class="fa fa-train"></i></div>
<div class="col-xs-1"><i class="fa fa-transgender"></i></div>
<div class="col-xs-1"><i class="fa fa-transgender-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-trash"></i></div>
<div class="col-xs-1"><i class="fa fa-trash-alt"></i></div>
<div class="col-xs-1"><i class="fa fa-tree"></i></div>
<div class="col-xs-1"><i class="fab fa-trello"></i></div>
<div class="col-xs-1"><i class="fab fa-tripadvisor"></i></div>
<div class="col-xs-1"><i class="fa fa-trophy"></i></div>
<div class="col-xs-1"><i class="fa fa-truck"></i></div>
<div class="col-xs-1"><i class="fas fa-truck-loading"></i></div>
<div class="col-xs-1"><i class="fas fa-truck-monster"></i></div>
<div class="col-xs-1"><i class="fas fa-truck-moving"></i></div>
<div class="col-xs-1"><i class="fas fa-truck-pickup"></i></div>
<div class="col-xs-1"><i class="fas fa-tshirt"></i></div>
<div class="col-xs-1"><i class="fa fa-tty"></i></div>
<div class="col-xs-1"><i class="fab fa-tumblr"></i></div>
<div class="col-xs-1"><i class="fab fa-tumblr-square"></i></div>
<div class="col-xs-1"><i class="fa fa-tv"></i></div>
<div class="col-xs-1"><i class="fab fa-twitch"></i></div>
<div class="col-xs-1"><i class="fab fa-twitter"></i></div>
<div class="col-xs-1"><i class="fab fa-twitter-square"></i></div>
<div class="col-xs-1"><i class="fab fa-typo3"></i></div>

<div class="col-xs-12"><h4>U</h4></div>
<div class="col-xs-1"><i class="fab fa-uber"></i></div>
<div class="col-xs-1"><i class="fab fa-uikit"></i></div>
<div class="col-xs-1"><i class="fa fa-umbrella"></i></div>
<div class="col-xs-1"><i class="fa fa-underline"></i></div>
<div class="col-xs-1"><i class="fa fa-undo"></i></div>
<div class="col-xs-1"><i class="fa fa-undo-alt"></i></div>
<div class="col-xs-1"><i class="fab fa-uniregistry"></i></div>
<div class="col-xs-1"><i class="fa fa-universal-access"></i></div>
<div class="col-xs-1"><i class="fa fa-university"></i></div>
<div class="col-xs-1"><i class="fa fa-unlink"></i></div>
<div class="col-xs-1"><i class="fa fa-unlock"></i></div>
<div class="col-xs-1"><i class="fa fa-unlock-alt"></i></div>
<div class="col-xs-1"><i class="fab fa-untappd"></i></div>
<div class="col-xs-1"><i class="fa fa-upload"></i></div>
<div class="col-xs-1"><i class="fab fa-usb"></i></div>
<div class="col-xs-1"><i class="fa fa-user"></i></div>
<div class="col-xs-1"><i class="far fa-user"></i></div>
<div class="col-xs-1"><i class="fa fa-user-circle"></i></div>
<div class="col-xs-1"><i class="far fa-user-circle"></i></div>
<div class="col-xs-1"><i class="fas fa-user-clock"></i></div>
<div class="col-xs-1"><i class="fas fa-user-cog"></i></div>
<div class="col-xs-1"><i class="fas fa-user-edit"></i></div>
<div class="col-xs-1"><i class="fas fa-user-friends"></i></div>
<div class="col-xs-1"><i class="fas fa-user-graduate"></i></div>
<div class="col-xs-1"><i class="fas fa-user-lock"></i></div>
<div class="col-xs-1"><i class="fa fa-user-md"></i></div>
<div class="col-xs-1"><i class="fa fa-user-plus"></i></div>
<div class="col-xs-1"><i class="fa fa-user-secret"></i></div>
<div class="col-xs-1"><i class="fa fa-user-times"></i></div>
<div class="col-xs-1"><i class="fa fa-users"></i></div>
<div class="col-xs-1"><i class="fab fa-ussunnah"></i></div>
<div class="col-xs-1"><i class="fa fa-utensil-spoon"></i></div>
<div class="col-xs-1"><i class="fa fa-utensils"></i></div>

<div class="col-xs-12"><h4>V</h4></div>
<div class="col-xs-1"><i class="fab fa-vaadin"></i></div>
<div class="col-xs-1"><i class="fa fa-venus"></i></div>
<div class="col-xs-1"><i class="fa fa-venus-double"></i></div>
<div class="col-xs-1"><i class="fa fa-venus-mars"></i></div>
<div class="col-xs-1"><i class="fab fa-viacoin"></i></div>
<div class="col-xs-1"><i class="fab fa-viadeo"></i></div>
<div class="col-xs-1"><i class="fab fa-viadeo-square"></i></div>
<div class="col-xs-1"><i class="fab fa-viber"></i></div>
<div class="col-xs-1"><i class="fa fa-video"></i></div>
<div class="col-xs-1"><i class="fab fa-vimeo"></i></div>
<div class="col-xs-1"><i class="fab fa-vimeo-square"></i></div>
<div class="col-xs-1"><i class="fab fa-vimeo-v"></i></div>
<div class="col-xs-1"><i class="fab fa-vine"></i></div>
<div class="col-xs-1"><i class="fab fa-vk"></i></div>
<div class="col-xs-1"><i class="fab fa-vnv"></i></div>
<div class="col-xs-1"><i class="fa fa-volleyball-ball"></i></div>
<div class="col-xs-1"><i class="fa fa-volume-down"></i></div>
<div class="col-xs-1"><i class="fa fa-volume-off"></i></div>
<div class="col-xs-1"><i class="fa fa-volume-up"></i></div>
<div class="col-xs-1"><i class="fab fa-vuejs"></i></div>

<div class="col-xs-12"><h4>W</h4></div>
<div class="col-xs-1"><i class="fa fa-walking"></i></div>
<div class="col-xs-1"><i class="fa fa-wallet"></i></div>
<div class="col-xs-1"><i class="fa fa-warehouse"></i></div>
<div class="col-xs-1"><i class="fab fa-weibo"></i></div>
<div class="col-xs-1"><i class="fa fa-weight"></i></div>
<div class="col-xs-1"><i class="fab fa-weixin"></i></div>
<div class="col-xs-1"><i class="fab fa-whatsapp"></i></div>
<div class="col-xs-1"><i class="fab fa-whatsapp-square"></i></div>
<div class="col-xs-1"><i class="fa fa-wheelchair"></i></div>
<div class="col-xs-1"><i class="fab fa-whmcs"></i></div>
<div class="col-xs-1"><i class="fa fa-wifi"></i></div>
<div class="col-xs-1"><i class="fab fa-wikipedia-w"></i></div>
<div class="col-xs-1"><i class="fa fa-window-close"></i></div>
<div class="col-xs-1"><i class="fa fa-window-maximize"></i></div>
<div class="col-xs-1"><i class="fa fa-window-minimize"></i></div>
<div class="col-xs-1"><i class="fa fa-window-restore"></i></div>
<div class="col-xs-1"><i class="fab fa-windows"></i></div>
<div class="col-xs-1"><i class="fa fa-won-sign"></i></div>
<div class="col-xs-1"><i class="fab fa-wordpress"></i></div>
<div class="col-xs-1"><i class="fab fa-wordpress-simple"></i></div>
<div class="col-xs-1"><i class="fab fa-wpbeginner"></i></div>
<div class="col-xs-1"><i class="fab fa-wpexplorer"></i></div>
<div class="col-xs-1"><i class="fab fa-wpforms"></i></div>
<div class="col-xs-1"><i class="fa fa-wrench"></i></div>

<div class="col-xs-12"><h4>X</h4></div>
<div class="col-xs-1"><i class="fab fa-xbox"></i></div>
<div class="col-xs-1"><i class="fab fa-xing"></i></div>
<div class="col-xs-1"><i class="fab fa-xing-square"></i></div>

<div class="col-xs-12"><h4>Y</h4></div>
<div class="col-xs-1"><i class="fab fa-y-combinator"></i></div>
<div class="col-xs-1"><i class="fab fa-yahoo"></i></div>
<div class="col-xs-1"><i class="fab fa-yandex"></i></div>
<div class="col-xs-1"><i class="fab fa-yandex-international"></i></div>
<div class="col-xs-1"><i class="fab fa-yelp"></i></div>
<div class="col-xs-1"><i class="fa fa-yen-sign"></i></div>
<div class="col-xs-1"><i class="fab fa-yoast"></i></div>
<div class="col-xs-1"><i class="fab fa-youtube"></i></div>
<div class="col-xs-1"><i class="fab fa-youtube-square"></i></div>

</div>

<script>
$(document).ready(function() {
	$('#modal-icons-form i').each(function() {
		if(!$(this).after().hasClass('title')) {
		
			title = $(this).attr('class').substr(3, 30)
		
			$(this).after('<div class="title" style="height:20px;margin:5px 0 0;font-size:10px;color:#888">'+title+'</div>')
		}
	});
});
</script>

			</div>
		</div>
	</div>
</div>