{{header}}
{{column_left}}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<a onclick="$('#form_2').submit();" data-toggle="tooltip" title="{{button_save}}" class="btn btn-primary"><i class="fa fa-save"></i></a>
				<a href="{{cancel_mod}}" data-toggle="tooltip" title="{{button_cancel}}" class="btn btn-primary"><i class="fa fa-reply"></i></a>
			</div>
			<h1>{{heading_title}}</h1><br />
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li><a href="{{breadcrumb.href}}">{{breadcrumb.text}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{error_warning}}<button type="button" class="close" data-dismiss="alert">&times;</button></div>
		{% endif %}
		{% if success %}
			<div class="alert alert-success"><i class="fa fa-check-circle"></i> {{success}}<button type="button" class="close" data-dismiss="alert">&times;</button></div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title"><i class="fa fa-pencil"></i> {{lang.heading_title}}</h3></div>
			<div class="panel-body">		
				<div class="buttons" style="text-align:right;margin:0 0 5px;">
					<a href="{{insert}}" data-toggle="tooltip" title="{{lang.button_add}}" class="btn btn-primary"><i class="fa fa-plus"></i></a>
					<a onclick="$('#form').submit();" data-toggle="tooltip" class="btn btn-danger" title="{{lang.button_remove}}"><i class="fa fa-trash-o"></i></a>
				</div>
				<div class="content" {{module_id ? 'style="display:none"'}}>
					<form action="{{delete}}" method="post" enctype="multipart/form-data" id="form">
						<div class="table-responsive">
							<table class="table table-bordered table-hover module-list">
								<tr>
									<td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').attr('checked', this.checked);" /></td>
									<td class="left">
										{% if sort == 'id.title' %}
											<a href="{{sort_title}}" class="{{order}}">{{column_title}}</a>
										{% else %}
											<a href="{{sort_title}}">{{lang.entry_link_text}}</a>
										{% endif %}
									</td> 
									<td class="left">
										{% if sort == 'i.sort_order' %}
											<a href="{{sort_sort_order}}" class="{{order}}">{{column_link}}</a>
										{% else %}
											<a href="{{sort_sort_order}}">{{lang.entry_link_url}}</a>
										{% endif %}
									</td>
									<td class="left">
										{% if sort == 'id.title' %}
											<a href="{{sort_sort_order}}" class="{{order}}">{{column_sort_order}}</a>
										{% else %}
											<a href="{{sort_title}}">{{lang.entry_link_order}}</a>
										{% endif %}
									</td>
									<td class="right">{{text_status}}</td>
									<td class="right">{{lang.entry_link_action}}</td>
								</tr>
								{% if uni_custom_menus %}
									{% for uni_custom_menu in uni_custom_menus %}
										<tr>
											<td style="text-align: center;"><input type="checkbox" name="selected[]" value="<?php echo $uni_custom_menu['menu_id']; ?>" {{uni_custom_menu.selected ? 'checked="checked"'}} /></td>
											<td class="left">{{uni_custom_menu.name}}</td>
											<td class="left">{{uni_custom_menu.link}}</td>
											<td class="right">{{uni_custom_menu.sort_order}}</td>
											<td class="right">{{ uni_custom_menu.status ? text_enabled : text_disabled}}</td>
											<td class="right">
												{% for action in uni_custom_menu.action %}
													<a href="{{action.href}}" data-toggle="tooltip" title="{{lang.button_edit}}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
												{% endfor %}
											</td>
										</tr>
									{% endfor %}
								{% else %}
									<tr>
										<td class="center" colspan="6">{{text_no_results}}</td>
									</tr>
								{% endif %}
							</table>
						</div>
					</form>
					<div class="pagination">{{pagination}}</div>
				</div>
				<div class="tab-content">
					<form action="{{action_mod}}" method="post" enctype="multipart/form-data" id="form_2">
						<div class="table-responsive">
							<table class="table table-bordered table-hover module-list">
								<tr>
									<td class="left">{{lang.entry_module_name}}</td>
									<td class="left">{{lang.entry_module_heading}}</td>
									<td class="left">{{lang.entry_module_items}}</td>
								</tr>
								<tr>
									<td><input type="text" name="name" value="{{name}}" class="form-control" /></td>
									<td class="left">
										{% for language in languages %}
											<div class="input-group">
												<span class="input-group-addon"><img src="language/{{language.code}}/{{language.code}}.png" title="{{language.name}}" /></span>
												<input type="text" name="uni_custom_menu_module[{{language.language_id}}][head]" value="{{uni_custom_menu_module[language.language_id].head}}" class="form-control" />
											</div>
										{% endfor %}
									</td>
									<td>
										<div class="well well-sm" style="min-width:150px; height:100px; overflow: auto;">
											{% for uni_custom_menu in uni_custom_menus1 %}
												<div>
													<input type="checkbox" name="uni_custom_menu_module[in_module][]" value="{{uni_custom_menu.menu_id}}" id="{{uni_custom_menu.menu_id}}" {{uni_custom_menu.menu_id in uni_custom_menu_module.in_module ? 'checked="checked"'}} />
													<label for="{{uni_custom_menu.menu_id}}">{{uni_custom_menu.name}}</label>
												</div>	
											{% endfor %}	
										</div>
										<a onclick="$(this).parent().find(':checkbox').prop('checked', true);">{{text_select_all}}</a> / <a onclick="$(this).parent().find(':checkbox').attr('checked', false);">{{text_unselect_all}}</a><div style="height:10px;"></div>
									</td>
								</tr>
							</table>
							<table class="table table-bordered table-hover module-list">
								<tr>
									<td><b>{{lang.entry_status}}</b></td>
									<td>
										<select name="status" id="input-status" class="form-control">
											<option value="1" {{status ? 'selected="selected"'}}>{{text_enabled}}</option>
											<option value="0" {{not status ? 'selected="selected"'}}>{{text_disabled}}</option>
										</select>
									</td>
								</tr>
							</table>
						</div>
						<input type="hidden" name="uni_custom_menu_module[style]" value="0" />
					</form>
				</div>
			</div>
		</div>
		<div class="copyright"></div>
	</div>
</div>
<style>
	.tab-content .buttons {margin:-5px 0 10px; text-align:right; }
	.list .left img + input{ display:inline-block !important; float:right !important; margin-top:-16px; margin-left:22px;}
	.scrollbox {padding: 4px 0 0;}
	table tr:nth-child(2n) {background: #f4f4f4;}
	table tr + tr {border-top:solid 1px #ddd;}
	table tr td {padding:7px 10px 4px}
	1table img {display:block;float:left;border:solid 1px #aaa;border-right:none;background:#ddd;padding:6px 4px;border-radius: 2px 0 0 2px}
	1table input[type='text'], table textarea {display:block;float:left;width:150px !important; padding:2px 5px}
</style>
{{footer}}