{{header}}
{{column_left}}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<a onclick="$('#form').submit();" data-toggle="tooltip" title="{{button_save}}" class="btn btn-primary"><i class="fa fa-save"></i></a>
				<a href="{{cancel_mod}}" data-toggle="tooltip" title="{{button_cancel}}" class="btn btn-primary"><i class="fa fa-reply"></i></a>
			</div>
			<h1>{{heading_title}}</h1><br />
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
					<li><a href="{{breadcrumb.href}}">{{breadcrumb.text}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{error_warning}}<button type="button" class="close" data-dismiss="alert">&times;</button></div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading"><h3 class="panel-title"><i class="fa fa-pencil"></i> {{heading_title}}</h3></div>
			<div class="panel-body">
				<form action="{{action}}" method="post" enctype="multipart/form-data" id="form">
					<div class="tab-content">
						<table class="form">
							<tr>
								<td>Заголовок пункта меню:</td>
								<td>
									{% for language in languages %}
										<div class="input-group">
											<span class="input-group-addon"><img src="language/{{language.code}}/{{language.code}}.png" title="{{language.name}}" /></span>
											<input type="text" name="menu_description[{{language.language_id}}][name]" value="{{menu_description[language.language_id].name}}" class="form-control" />
										</div>
										{% if error_name[language.language_id] %}<span class="error">{{error_name[language.language_id]}}</span>{% endif %}
									{% endfor %}
								</td>
							</tr>
							<tr>
								<td>{{entry_link}}</td>
								<td><input type="text" name="link" value="{{link}}" class="form-control" /></td>
							</tr>
							<tr>
								<td>{{entry_parent_id}}</td>
								<td> 
									<select class="parent_id form-control" name="parent_id">
										<option value="">{{text_select}}</option> 
										{% for menu in uni_custom_menu %}
											<option data-parent="{{menu.parent_id}}" value="{{menu.menu_id}}" {{menu.menu_id == parent_id ?' selected="selected"'}}>{{menu.name}}</option> 
										{% endfor %}
									</select>
									<input type="hidden" name="parent_parent_id" value="{{parent_parent_id}}" />
								</td>
							</tr>
							<tr>
								<td>{{entry_image}}</td>
								<td valign="top">
									<a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{thumb ? thumb : placeholder}}" alt="" title="" data-placeholder="{{placeholder}}" /></a>
									<input type="hidden" name="image" value="{{image}}" id="image" />
								</td>
							</tr>
							<tr>
								<td>{{entry_column}}</td>
								<td><input type="text" name="column" value="{{column ? column : 1}}" size="2" class="form-control" /></td>
							</tr>
							<tr>
								<td>{{entry_status}}</td>
								<td>
									<select name="status" class="form-control">
										<option value="1" {{status ? 'selected="selected"'}}>{{text_enabled}}</option>
										<option value="0" {{not status ? 'selected="selected"'}}>{{text_disabled}}</option>
									</select>				
								</td>
							</tr>
							<tr>
								<td>{{entry_sort_order}}</td>
								<td><input type="text" name="sort_order" value="{{sort_order}}" class="form-control" /></td>
							</tr>
						</table>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<style>
	table {width:100%}
	table tr:nth-child(2n) {background: #fefefe;}
	table tr + tr {border-top:solid 1px #ddd;}
	table tr td {padding:7px 10px}
	table tr td:first-child {width:300px;max-width:300px;}
</style>

<script type="text/javascript"><!--
$('.nav-tabs a:first').tab('show');
//--></script>  

<script type="text/javascript"><!--
$(document).ready(function() {
	var val = $('.parent_id option:selected').attr('data-parent');
	$('input[name="parent_parent_id"]').val(val);
	
$('.parent_id').bind('change', function() { 
	var val = $('.parent_id option:selected').attr('data-parent');
	$('input[name="parent_parent_id"]').val(val);
});
});
//--></script> 
{{footer}}