#custom_menu {margin:0 0 20px;z-index:9;}
#custom_menu .dropdown-inner {display:table}
#custom_menu .nav > li:hover .dropdown-menu{display:block;padding:6px 0}
#custom_menu .column + .column {padding:0 0 0 10px}
#custom_menu .nav > li .dropdown-menu li {position:relative;}
#custom_menu .nav > li .dropdown-menu li a {padding:6px 0 8px}
#custom_menu .nav > li .dropdown-menu li + li a {border-top:solid 1px #e5e5e5}
#custom_menu .nav > li > .dropdown-menu > div > ul > li > a {font-size:1.0em;font-weight:500} 
#custom_menu .nav > li > .dropdown-menu > div > ul > li > a:hover {}
#custom_menu .nav > li .dropdown-menu li .dropdown-menu{position:relative;float:none;margin:-6px 0 0 !important;padding:0 0px 10px !important;border:none;border-radius:0;box-shadow:0 0 0}
#custom_menu .nav > li .dropdown-menu li .dropdown-menu ul li{float:left;line-height:1.5em}
#custom_menu .nav > li .dropdown-menu li .dropdown-menu ul li a{display:inline;margin:0;font-size:0.95em;border-top:none}
#custom_menu .nav > li .dropdown-menu li .dropdown-menu ul li a:hover{background:transparent;text-decoration:underline !important}
#custom_menu .nav > li .dropdown-menu li:hover .dropdown-menu{display:block}
#custom_menu .navbar-toggle{display:block}
#custom_menu navbar-header{float:none}
#custom_menu .nav li > a{min-height:40px;padding:9px 20px 10px 12px;border-left:none;border:none;font-size:.98em}
#custom_menu .nav > li:hover > a{z-index:2;background:transparent}
#custom_menu .nav > li.has_chidren:hover:before{display:block;position:absolute;top:0;right:-10px;bottom:0;left:0;content:'';background:linear-gradient(to left, #fff 0%, rgba(255, 255, 255, .8) 100%)}
#custom_menu .nav li{position:relative}
#custom_menu .nav > li a > i{position:absolute;top:14px;right:12px;padding:0;margin:0;transition: all ease-in-out .2s;transform:rotate(0deg)}
#custom_menu .nav > li a span {margin:0 4px 0 0}
#custom_menu .nav > li:hover a > i {transform:rotate(-90deg)}
#custom_menu .nav{width:100%;margin:0;top:40px;border:solid 1px rgba(0, 0, 0, .08);border-top:none;border-radius:4px}
#custom_menu .nav > li{display:block;float:none;border:none;border-top:solid 1px rgba(0, 0, 0, .08)}
#custom_menu .nav > li:first-child {border-radius:4px 4px 0 0}
#custom_menu .nav > li:last-child {border-radius:0 0 4px 4px}
#custom_menu .nav > li img {width:16px; height:auto;margin:0 5px 0 0}
#custom_menu .nav > li > .dropdown-menu > .dropdown-inner > ul > li > a{display:block;padding-top:8px}
#custom_menu .btn-navbar{position:absolute;right:0px;top:12px;margin:0;padding:0;box-shadow:none;cursor:default}
#custom_menu .dropdown:hover .dropdown-menu{display:block}
#custom_menu .navbar-collapse.collapsing, #custom_menu .navbar-collapse.in, #custom_menu:hover .navbar-collapse{display:block !important}
#custom_menu .nav > li .dropdown-menu a {margin:0 !important} 
#custom_menu .nav > li .dropdown-menu li + li a{border:none}
#custom_menu .navbar-nav > li > .dropdown-menu {position:absolute;z-index:-1;top:-1px;left:100%;margin:0 !important;border-radius:0 4px 4px 0}
#custom_menu .nav > li .dropdown-menu {padding:0px 0 0 20px !important}
#custom_menu .nav > li .dropdown-menu > .dropdown-inner {padding:0}
#custom_menu .nav > li .dropdown-menu > .dropdown-inner ul + ul {padding: 0 0 0 22px !important}
#custom_menu .nav > li .dropdown-menu > .dropdown-inner ul{display:table-cell}
#custom_menu .nav > li .dropdown-menu > .dropdown-inner li{min-width:268px}
#custom_menu .nav > li .dropdown-menu > .dropdown-inner ul.column > li {border-top:solid 1px rgba(0, 0, 0, .1)}
#custom_menu .nav > li .dropdown-menu > .dropdown-inner ul.column > li:first-child {border-top:none}
#custom_menu .nav > li .dropdown-menu > .dropdown-inner ul li ul li {padding:0 14px 0 0}