@font-face{font-family:'Rubik';font-weight:400;font-style:normal;font-display:swap;src:local('Rubik'), url('../fonts/rubik-regular.woff2') format('woff2'), url('../fonts/rubik-regular.woff') format('woff')}
@font-face{font-family:'Rubik';font-weight:500;font-style:normal;font-display:swap;src:local('Rubik'), url('../fonts/rubik-medium.woff2') format('woff2'), url('../fonts/rubik-medium.woff') format('woff')}
@font-face{font-family:'Rubik';font-weight:700;font-style:normal;font-display:swap;src:local('Rubik'), url('../fonts/rubik-bold.woff2') format('woff2'), url('../fonts/rubik-bold.woff') format('woff')}