#manufacturer_module {position:relative;border-radius:4px;margin-bottom:12px;z-index:10;}
#manufacturer_module .heading {position:relative;overflow:visible;float:left;height:22px;line-height:22px;padding:0 5px 0 10px;border-radius:3px 0 0 3px;font-size:.95em;margin:0 18px 0 0;border-right:0;}
#manufacturer_module .heading:after {content:'';position:absolute;top:3px;left:auto;right:-8px;bottom:4px;width:16px;height:16px;transform: rotate(45deg);-ms-transform: rotate(45deg);z-index:-1;}
#manufacturer_module ul {list-style:none;margin:0;padding:0;}
#manufacturer_module ul > li {position:relative;float:left;margin:-1px 6px 7px 0;}
#manufacturer_module ul > li a {height:24px;line-height:23px;padding:0 8px;text-decoration:none;border:solid 1px rgba(0, 0, 0, .1);border-radius:3px;display:block;text-align:center;background:#fff;}
#manufacturer_module ul > li:hover > a {border:solid 1px #bbb;background:#f8f8f8;}
#manufacturer_module ul > li > div {display:none;background:#f8f8f8;position:absolute;top:115%;border-top:0;border-radius:0 3px 3px 3px;}
#manufacturer_module .col-xs-12 > ul > li:hover:before {position:absolute;z-index:2;left:0px;right:0px;bottom:-5px;height:9px;content:'';border-left:solid 1px #bbb;border-right:solid 1px #bbb;background:#f8f8f8}
#manufacturer_module ul > li:hover > div {display:block;padding:4px 10px 4px 0px;z-index:1;text-align:left;border:solid 1px #bbb;}
#manufacturer_module ul > li ul > li {border:none !important;padding:0;margin:0;min-width:100px;}
#manufacturer_module ul > li ul > li > a {text-align:left;border:none !important;white-space:nowrap;margin:0;text-decoration:underline;background:#f8f8f8;}
#manufacturer_module > ul > li ul > li > a:hover {border:none;text-decoration:none;box-shadow:none !important;}
@media (max-width:767px){#manufacturer_module .col-xs-12 > ul > li:hover:before {display:none;}}