.news-module .news{position:relative;margin:0 0 20px;padding:10px;border:solid 1px rgba(0, 0, 0, .1);border-radius:4px}
.grid .news-module .news {float:left}
.news-module .news .image {margin:0 0 10px}
.news-module .news .image img{border-radius:4px}
.news-module .news .name{margin:0 0 5px;font-weight:500;line-height:normal}
.news-module .news .description{font-size:.95em}
.news-module .news .category_name {overflow:hidden;margin:2px 2px 0 0;text-align:center;font-size:.85em;color:#888;white-space:nowrap;text-overflow:ellipsis;}
.news-module .news .posted {margin:0 10px}
#column-left .news .image, #column-right .news .image {margin:0 0 10px}
#column-left .news .col-xs-12, #column-right .news .col-xs-12 {width:100%;padding:0 10px}

.news-related:before {display:none}
.news-related .item {overflow:hidden}
.news-related .item .name {margin:0 0 5px;font-weight:500}
.news-related .item .image {float:left;width:170px;padding:0 15px 0 0}

.news-list .posted{padding:5px 10px;font-size:.85em;color:#888;background:rgba(0, 0, 0, .03)}
.news-list .posted > i {margin:0 5px 0 0}
.news-list .posted .fa-eye {margin-left:10px;padding:0 0 0 10px;line-height:14px;border-left:solid 1px rgba(0, 0, 0, .1)}
.news-list .posted a {position:relative;display:inline-block;vertical-align:top;margin:0 0 0 10px;padding:0 0 0 10px;height:14px;font-weight:500;border-left:solid 1px rgba(0, 0, 0, .1)}

.news_page{margin:0 0 30px}
.news_page a{text-decoration:underline}
.news_page .show_all_news{margin:20px 0 0;}
.news_page .image{float:left;margin:0 15px 0 0}
.news_page .image img{border-radius:4px}
.news_page .description{line-height:1.5em}
.news_page .posted{text-align:right;font-size:.9em;color:#aaa}
.news_page .posted .fa-eye{margin:0 5px 0 0;font-size:1.1em}
.news_page .posted .fa-calendar{margin:0 5px 0 5px;padding:0 0 0 10px;border-left:solid 1px rgba(0, 0, 0, .1)}