#modal-request-form {}
#modal-request-form .mail, #modal-request-form .comment {display:none}
#modal-request-form form div + div {margin:10px 0 0}
#modal-request-form label {display:block;margin:0 0 4px;font-size:.95em}
#modal-request-form .text-danger {margin:0}

#tab-question .item .name{margin:0 0 10px;font-size:.9em;font-weight:500}
#tab-question .item .name i{width:20px;}
#tab-question .item .date-added{margin:0 0 10px;font-size:.9em;color:#888}
#tab-question .item .date-added i{width:20px}

#tab-question .item .comment span{margin:0 0 5px;font-weight:500}
#tab-question .item .comment div{padding:5px 0 10px 25px}
#tab-question .item .comment i{width:25px}

#tab-question .item .admin-reply{margin:15px 0 0;padding:5px 10px;border-left:solid 2px #f00;background:rgba(0, 0, 0, .025)}
#tab-question .item .admin-reply div {margin:0 0 5px;padding:0 0 5px;color:#f00;font-size:.85em;font-weight:500;border-bottom:solid 1px rgba(0, 0, 0, .1)}
#tab-question .item .admin-reply div i{margin:0 5px 0 0;transform:rotate(180deg);font-size:.85em}
#tab-question .item hr {margin:15px 0;border-top:solid 2px rgba(0, 0, 0, .1)}

#tab-question #input-captcha {width:100px;float:left;margin:0 10px 0 0;}
#tab-question #input-captcha + img{max-height:33px;}
#tab-question  .request_pagination {margin:0 0 20px}
#form-question {display:none;}

#tab-question .pagination {display:block;position:relative;min-height:28px;margin:0 0 15px;text-align:center;}
#tab-question .pagination div + div {position:absolute;top:0;right:0;}
#tab-question .pagination #show-question-form {position:absolute;top:0;right:0}