.uni-slideshow{position:relative;margin:0 0 20px;border-radius:4px;overflow:hidden;}
.uni-slideshow a img, .uni-slideshow span img {display:block;position:relative;z-index:-1}
.uni-slideshow .item {display:table;width:100%;position:relative;box-shadow:inset 0 0 0 4px rgba(0, 0, 0, .04)}
.uni-slideshow .item > div {position:relative;display:table-cell;float:none;margin:0;padding:0;vertical-align:middle;}
.uni-slideshow .item .description{padding:0 40px 0 0;text-align:right}
.uni-slideshow .title{margin:0 0 20px;font-size:1.85em;line-height:1.0em;font-weight:500;text-shadow:1px 1px 0 #fff, 2px 2px 0px #bbb}
.uni-slideshow .text{margin:0 0 20px}
.uni-slideshow .owl-nav .owl-prev{transform:translate(10px, -20px);opacity:0}
.uni-slideshow .owl-nav .owl-next{right:0;transform:translate(-10px, -20px);opacity:0}
.uni-slideshow .owl-dots{position:absolute;z-index:2;bottom:30px !important;right:0;left:0;height:0;margin:0 !important}

@media (max-width:992px){
	.uni-slideshow .description > div{margin:0 0 10px}
    .uni-slideshow .title{font-size:1.6em}
}
@media (max-width:767px){
	.uni-slideshow .item > div {display:block}
	.uni-slideshow .item .description {padding:10px 20px 25px}
	.uni-slideshow .item .description .title, .uni-slideshow .item .description .text {margin:0 0 10px}
}