{{header}}
<div id="unicheckout" class="checkout_form container">        
	<div class="row">
		<div class="col-xs-12">
			<div class="breadcrumbs">
				<ul class="breadcrumb">
					{% for key, breadcrumb in breadcrumbs %}
						{% if key+1 < breadcrumbs|length %}
							<li><a href="{{breadcrumb.href}}">{{breadcrumb.text}}</a></li>
						{% else %}
							<li>{{breadcrumb.text}}</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
	<div class="error"></div>
	<h1 class="heading"><span>{{text_checkout}}</span></h1>
	<div class="row">
		<div class="col-xs-12">
			<div id="unicart">
				{{cart}}
			</div>
		</div>
	</div>
	{% if not is_logged and show_popup_login %}
		<div class="row">
			<div class="col-md-12">
			    <div class="well">{{text_register2}} &nbsp;<a onclick="uniLoginOpen();">{{text_login2}}</a></div>
		    </div>
		</div>
	{% endif %}
	<div id="checkout_data">		
		<form id="user" class="row">
		    <div class="col-md-6">
				<div class="user_data row">
					<div class="col-md-12">
						<div class="heading"><span>{{text_your_details}}</span></div>
					</div>			
					<div class="form-group firstname {{not show_lastname and not show_email and not show_phone ? 'col-xs-12' : 'col-xs-6'}}">
						<input type="text" name="firstname" value="{{firstname}}" placeholder="{{name_text}}" class="form-control" />
					</div>
					<div class="form-group lastname {{not show_lastname ? 'hide'}} col-xs-6">
						<input type="text" name="lastname" value="{{lastname}}" placeholder="{{lastname_text}}" class="form-control" />
					</div>
					{{show_lastname ? '<div class="col-xs-12"></div>'}}
					<div class="form-group email {{not show_email ? 'hide'}} {{show_lastname and not show_phone ? 'col-xs-12' : 'col-xs-6'}}">
						<input type="email" name="email" value="{{email}}" placeholder="{{email_text}}" class="form-control" />
					</div>
					<div class="form-group telephone {{not show_phone ? 'hide'}} {{show_lastname and not show_email or not show_lastname and show_email ? 'col-xs-12' : 'col-xs-6'}}">
						<input type="tel" name="telephone" value="{{telephone}}" placeholder="{{phone_text}}" class="form-control" />
					</div>					
					<input type="hidden" name="fax" value="" />
					<div class="custom-field col-xs-12">
						{{custom_fields}}
					</div>
				</div>
				<div class="row {{not show_email or checkout_passgen ? 'hide'}}">	
					{% if not customer_id %}	
						<div class="form-group col-md-12" {{not checkout_guest ? 'style="display:none"'}}>
							<label class="input show-register-form">
								<input type="checkbox" name="add-new-customer" value="1" id="register_user" {{not checkout_guest ? 'checked="checked"'}} /><span></span><span>{{text_register3}}</span>
							</label>
						</div>    
						<div class="register-form col-xs-12" {{checkout_guest ? 'style="display:none"'}}>
							<div>
								{% if customer_groups %}
									<label class="control-label">{{entry_customer_group}}:</label> &nbsp;&nbsp;&nbsp;
									{% for customer_group in customer_groups %}
										<div class="radio">
											<label class="input"><input type="radio" name="customer_group_id" value="{{customer_group.customer_group_id}}" id="{{customer_group.customer_group_id}}" {{customer_group.customer_group_id == customer_group_id ? 'checked="checked"'}} /><span></span><span>{{customer_group.name}}</span></label>
										</div>
									{% endfor %}
									<div style="height:12px"></div>
								{% endif %}
							</div>
							<div class="form-group required">
								<input type="password" name="password" value="" placeholder="{{password_text}}" id="input-payment-password" class="form-control" />
							</div>
							{% if show_password_confirm %}	
								<div class="form-group required">
									<input type="password" name="password-confirm" value="" placeholder="{{password_confirm_text}}" id="input-payment-confirm" class="form-control" />
								</div>
							{% endif %}
						</div>
					{% endif %}
				</div>
				<div class="row">
					<div class="payment-address col-xs-12">
						{{address}}		
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="shipping_wrap">
					{{shipping_method}}
				</div>							
				<div class="payment_wrap">						    
					{{payment_method}}
				</div>
			</div>
			<div class="col-xs-12 visible-md visible-lg" style="height:20px"></div>
			<div class="col-xs-12">
				<div class="heading"><span>{{text_comment2}}</span></div>
				<p><textarea name="comment" rows="3" class="form-control">{{comment}}</textarea></p>
			</div>
		</form>
		<div id="confirm" class="row">
			<div class="total_checkout col-xs-12 text-right">
				<h3 style="margin:10px 0 20px;"><span style="padding:0;color:#777;">{{text_total_checkout}}<span style="padding:0;color:#D9534F;"><span/><span/></h3>
			</div>
			{% if text_confirm %}
				<div class="buttons col-xs-12 text-right">
					<label class="input text-right"><input type="checkbox" name="confirm" value="1" {{confirm ? 'checked="checked"'}} id="agree" /><span></span>{{text_confirm}}</label>
				</div>
			{% endif %}
			<div class="buttons col-xs-12 text-right">
				<button data-loading-text="{{text_loading}}" id="confirm_checkout" class="btn btn-lg btn-primary">{{button_confirm_checkout}}</button>
			</div>
			<div class="col-xs-12 payment"></div>
		</div>
		<div class="related_after"></div>
	</div>			
    {{content_bottom}}
</div>
<script src="catalog/view/theme/unishop2/js/jquery.maskedinput.min.js"></script>
<script>
$(document).ready(function(){
	$('.total_checkout h3 span span').html($('.total_table td:last').html());
});
$('.show-register-form input').on('change', function() {
	$('.register-form').toggle();
});

$('body').on('change', 'input[name=\'shipping_method\'], input[name=\'payment_method\'], .payment-address input[type=\'text\'], .payment-address input[type=\'radio\'], .payment-address input[type=\'checkbox\'], .payment-address textarea, select[name=\'address_id\']', function() {
	uniCheckoutUpdate();
});

$('body').on('click', '.add_to_cart', function() {
	option = $(this).parent().parent().find('.option').children().size();
	option_checked = $(this).parent().parent().find('.option input:checked, .option select').size();
	if(!option || option_checked) {
		uniCheckoutUpdate();
	}
});

$('body').on('click', '#confirm_checkout', function() {
	var data = $('.checkout_form input[type=\'text\'], .checkout_form input[type=\'tel\'], .checkout_form input[type=\'email\'], .checkout_form input[type=\'date\'], .checkout_form input[type=\'datetime-local\'], .checkout_form input[type=\'time\'], .checkout_form input[type=\'password\'], .checkout_form input[type=\'hidden\'], .checkout_form input[type=\'checkbox\']:checked, .checkout_form input[type=\'radio\']:checked, .checkout_form textarea, .checkout_form select').serialize();
	
	var form = '#unicheckout';
	
    $.ajax({
        url: 'index.php?route=checkout/uni_checkout/validate',
        type: 'post',
        data: data,
        dataType: 'json',
        beforeSend: function() {
			$('#confirm_checkout').button('loading');
		},  
        complete: function() {
            $('#confirm_checkout').button('reset');
        },          
        success: function(json) {
			$('#unicheckout .text-danger').remove();
                        
            if (json['error']) {
				for (i in json['error']) {
					form_error(form, i, json['error'][i]);
				}
				
				if(json['error']['minimum']) {
				
					var alert_minimum = json['error']['minimum']+'<button type="button" class="close" data-dismiss="alert">×</button>';
				
					if($('#unicart .alert').length) {
						$('#unicart .alert').html(alert_minimum);
					} else {
						$('#unicart').prepend('<div class="alert alert-danger">'+alert_minimum+'</div>');
					}
				}
				
				if($('#unicart .alert').length) {
					scroll_to('#unicart .alert');
				} else {
					scroll_to('.text-danger');
				}
            }
			
			if (json['success']) {
				$('.payment').html(json['success']['order_payment']);
				
				if (!$('.payment h2, .payment p, .payment input[type=\'radio\'], .payment input[type=\'checkbox\'], .payment select').length) {
					$('.payment').css('display', 'none');
					$('.payment #button-confirm, .payment input[type=\'button\'], .payment input[type=\'submit\'], .payment button, .payment a, .payment .btn-primary').click();
					if($('.payment a').length) {
						$('.payment a')[0].click();
					}
				}
				
				dataLayer.push({
					'ecommerce':{
						'currencyCode':uniJsVars.currency,
						'purchase':{
							'actionField':{
								'id': json['success']['order_id'],
								'goal_id': uniJsVars.checkout_goal_id
							},
							'products': json['success']['products']
						}
					}
				});
					
				console.log(dataLayer)
			}
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    }); 
});  

$('body').on('focus', '#unicheckout input[name=\'telephone\']', function(){
	$(this).mask('{{checkout_phone_mask}}');
});

$('body').on('click', '#button-coupon', function() {
	
	var form = '#unicheckout';

	$.ajax({
		url: 'index.php?route=extension/total/coupon/coupon',
		type: 'post',
		data: 'coupon=' + encodeURIComponent($('input[name=\'coupon\']').val()),
		dataType: 'json',
		beforeSend: function() {
			$('#button-coupon').button('loading');
		},
		complete: function() {
			$('#button-coupon').button('reset');
		},
		success: function(json) {
			$('.text-danger').remove();

			if (json['error']) {
				form_error(form, 'coupon', json['error']);
			}

			if (json['redirect']) {
				uniCheckoutUpdate();
			}
		}
	});
});
$('body').on('click', '#button-reward', function() {

	var form = '#unicheckout';

	$.ajax({
		url: 'index.php?route=extension/total/reward/reward',
		type: 'post',
		data: 'reward=' + encodeURIComponent($('input[name=\'reward\']').val()),
		dataType: 'json',
		beforeSend: function() {
			$('#button-reward').button('loading');
		},
		complete: function() {
			$('#button-reward').button('reset');
		},
		success: function(json) {
			$('.text-danger').remove();

			if (json['error']) {
				form_error(form, 'reward', json['error']);
			}

			if (json['redirect']) {
				uniCheckoutUpdate();
			}
		}
	});
});
$('body').on('click', '#button-voucher', function() {

	var form = '#unicheckout';

	$.ajax({
		url: 'index.php?route=extension/total/voucher/voucher',
		type: 'post',
		data: 'voucher=' + encodeURIComponent($('input[name=\'voucher\']').val()),
		dataType: 'json',
		beforeSend: function() {
			$('#button-voucher').button('loading');
		},
		complete: function() {
			$('#button-voucher').button('reset');
		},
		success: function(json) {
			$('.text-danger').remove();

			if (json['error']) {
				form_error(form, 'voucher', json['error']);
			}

			if (json['redirect']) {
				uniCheckoutUpdate();
			}
		}
	});
});

function uniCartEdit(key, quantity, product_id) {
	$.ajax({
		url: 'index.php?route=checkout/cart/edit',
		type: 'post',
		data: 'quantity['+key+']='+quantity,
		dataType: 'html',
		beforeSend: function() {
			$('input[name=\'quantity['+key+']\']').val(quantity)
		},
		success: function(json) {
			$('#cart').load('index.php?route=common/cart/info #cart > *');
			
			if(typeof(product_id) != 'undefined' && quantity <= 0) {
				uniReturnBtn(product_id);
			}
			
			uniCheckoutUpdate();
		}
	});
}

function uniVoucherRemove(key) {
	$.ajax({
		url: 'index.php?route=checkout/cart/remove',
		type: 'post',
		data: 'key='+key,
		dataType: 'json',
		success: function(json) {
			$('#cart').load('index.php?route=common/cart/info #cart > *');
			uniCheckoutUpdate();
		},
	    error: function(xhr, ajaxOptions, thrownError) {
	         alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
	    }
	});
}

function uniCheckoutUpdate() {

	var data = $('.payment-address input, .payment-address textarea, .payment-address select').serialize();
	
	$.ajax({
		url: 'index.php?route=checkout/uni_checkout/address&render=1',
		type: 'post',
		data: data,
		dataType: 'html',
		beforeSend: function() {
			$('html body').append('<div class="full-width-loading"></div>');
		},
		success: function(html) {
			$('.payment-address').html(html);
			uniShippingUpdate();
		}
	});
}

function uniShippingUpdate() {

	var data = $('.shipping-method input[type=\'radio\']:checked').serialize();

	$.ajax({
		url: 'index.php?route=checkout/uni_checkout/shipping_method&render=1',
		type: 'post',
		data: data,
		dataType: 'html',
		success: function(html) {
			$('.shipping_wrap').html(html);
			uniPaymentUpdate();
		}
	});
}

function uniPaymentUpdate() {

	var data = $('.payment-method input[type=\'radio\']:checked').serialize();

	$.ajax({
		url: 'index.php?route=checkout/uni_checkout/payment_method&render=1',
		type: 'post',
		data: data,
		dataType: 'html',
		success: function(html) {
			$('.payment_wrap').html(html);
			uniCartUpdate();
		}
	});
}

function uniCartUpdate() {
	$.ajax({
		url: 'index.php?route=checkout/uni_checkout/cart&render=1',
		dataType: 'html',
		success: function(html) {
			$('#unicart').html(html);
			$('.total_checkout h3 span span').html($('.total_table td:last').html());
			$('.full-width-loading').remove();
		}
	});
}
</script>
{{footer}}