<div {{not is_shipping ? 'class="hide"'}}>
	<div class="heading"><span>{{shipping_address}}</span></div>
	{% if addresses %}
		{% if address_1 and city and zone and country %}
			<div class="radio">
				<label class="input"><input type="radio" name="existing-address" value="1" {{not new_address ? 'checked="checked"'}} id="payment_address" /><span></span>{{text_address_existing}}</label>
			</div>
			<div id="payment-existing">
				<select name="address_id" class="form-control">
					{% for address in addresses %}
						{% if address.address_id == address_id %}
							<option value="{{address.address_id}}" selected="selected">{{address.firstname}} {{address.lastname}}, {{address.address_1}}, {{address.city}}, {{address.zone}}, {{address.country}}</option>
						{% else %}
							<option value="{{address.address_id}}">{{address.firstname}} {{address.lastname}}, {{address.address_1}}, {{address.city}}, {{address.zone}}, {{address.country}}</option>
						{% endif %}
					{% endfor %}
				</select>
			</div>
		{% endif %}
	{% else %}
		<script>
			$(document).ready(function() {
				$('#new_payment_address').trigger('click');
			});
		</script>
	{% endif %}
	{% if customer_id %}
		<div class="radio">
			<label class="input"><input type="radio" name="new-address" value="1" {{new_address ? 'checked="checked"'}} id="new_payment_address"/><span></span>{{text_address_new}}</label>
		</div>
	{% endif %}
	<div class="row">
		<div id="payment-address-new" {{customer_id and addresses and not new_address ? 'style="display:none"'}}>
			<input type="hidden" name="company" value="" />
			<input type="hidden" name="company_id" value="" />
			<input type="hidden" name="tax_id" value="" />
			<div class="form-group country {{not show_country_zone ? 'hide'}} col-xs-6">
				<select name="country_id" id="input-payment-country" class="form-control" onchange="zone();">
					<option value="">{{select_country}}</option>
					{% for country in countries %}
						<option value="{{country.country_id}}" {{country.country_id == country_id ? 'selected="selected"'}}>{{country.name}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="form-group zone {{not show_country_zone ? 'hide'}} col-xs-6">
				<select name="zone_id" id="input-payment-zone" class="form-control" onchange="uniCheckoutUpdate();"></select>
			</div>
			<div class="col-xs-12"></div>
			<div class="form-group city {{not show_city ? 'hide'}} {{not show_postcode ? 'col-xs-12' : 'col-xs-6'}}">
				<input type="text" name="city" value="{{city}}" placeholder="{{city_text}}" class="form-control" />
			</div>
			<div class="form-group postcode {{ not show_postcode ? 'hide'}} {{not show_city ? 'col-xs-12' : 'col-xs-6'}}">
				<input type="text" name="postcode" value="{{postcode}}" placeholder="{{postcode_text}}" class="form-control" />
			</div>
			<div class="address form-group {{not show_address ? 'hide'}} col-xs-12">
				<input type="text" name="address_1" value="{{address_1}}" placeholder="{{address_text}}" class="form-control" />
			</div>
			<div class="form-group {{not show_address2 ? 'hide'}} col-xs-12">
				<input type="text" name="address_2" value="{{address_2}}" placeholder="{{address2_text}}" class="form-control" />
			</div>
		</div>
		<div class="custom-field col-xs-12">
			{{custom_fields}}
		</div>
		<div class="col-xs-12 visible-xs visible-sm" style="height:20px"></div>
	</div>
	<script>
		$(document).ready(function() {
		
			$('input[name="existing-address"]').on('click', function() {
				$('input[name="new-address"]').attr('checked', false).prop('checked', false)
				$('#payment-address-new').hide();
			});
			
			$('input[name="new-address"]').on('click', function() {
				$('input[name="existing-address"]').attr('checked', false).prop('checked', false)
				$('#payment-address-new').show();
			});
		
			zone();
			
		{% if blocked %}
			if($('.shipping-method input:checked').val() == 'pickup.pickup') {
				$('#payment-address-new input').each(function() {
					if($(this).val() == '') {
						$(this).val('---');
					}
				});
				if(!$('#payment-address-new .cover').length) {
					$('#payment-address-new').append('<div class="cover"></div>');
				}
			} else {
				$('#payment-address-new input').each(function() {
					if($(this).val() == '---') {
						$(this).val('');
					}
				});
				$('#payment-address-new .cover').remove();
			}
		{% endif %}
		
		});
	
		function zone() {
			var data = $('.payment-address select[name=\'country_id\']').val();
	
			$.ajax({
				url: 'index.php?route=checkout/uni_checkout/country&country_id='+data,
				dataType: 'json',          
				success: function(json) {
					if (json['postcode_required'] == '1') {
						$('input[name=\'postcode\']').parent().parent().addClass('required');
					} else {
						$('input[name=\'postcode\']').parent().parent().removeClass('required');
					}
			            
					html = '<option value="">{{text_select}}</option>';
					selected = false;
            
					if (json['zone'] && json['zone'] != '') {
						for (i = 0; i < json['zone'].length; i++) {
							html += '<option value="' + json['zone'][i]['zone_id'] + '"';
                    
							if (json['zone'][i]['zone_id'] == '{{zone_id}}') {
								html += ' selected="selected"';
								selected = true;
							}
    
							html += '>' + json['zone'][i]['name'] + '</option>';
						}
					} else {
						html += '<option value="0" selected="selected">{{text_none}}</option>';
					}
            
					$('select[name=\'zone_id\']').html(html);
			
					if (!selected) {
						$('select[name=\'zone_id\']').val('');
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	</script>
</div>