/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-alfa {
  background-image: url(sprite.png);
  background-position: -50px 0px;
  width: 50px;
  height: 30px;
}
.icon-contact {
  background-image: url(sprite.png);
  background-position: 0px -120px;
  width: 50px;
  height: 30px;
}
.icon-cyberplat {
  background-image: url(sprite.png);
  background-position: 0px -30px;
  width: 50px;
  height: 30px;
}
.icon-eleksnet {
  background-image: url(sprite.png);
  background-position: -50px -30px;
  width: 50px;
  height: 30px;
}
.icon-eport {
  background-image: url(sprite.png);
  background-position: 0px -60px;
  width: 50px;
  height: 30px;
}
.icon-maestro {
  background-image: url(sprite.png);
  background-position: -50px -60px;
  width: 50px;
  height: 30px;
}
.icon-mailofrussia {
  background-image: url(sprite.png);
  background-position: -100px 0px;
  width: 50px;
  height: 30px;
}
.icon-master {
  background-image: url(sprite.png);
  background-position: -100px -30px;
  width: 50px;
  height: 30px;
}
.icon-moneybookers {
  background-image: url(sprite.png);
  background-position: -100px -60px;
  width: 50px;
  height: 30px;
}
.icon-paypal {
  background-image: url(sprite.png);
  background-position: 0px -90px;
  width: 50px;
  height: 30px;
}
.icon-pkb {
  background-image: url(sprite.png);
  background-position: -50px -90px;
  width: 50px;
  height: 30px;
}
.icon-privat {
  background-image: url(sprite.png);
  background-position: -100px -90px;
  width: 50px;
  height: 30px;
}
.icon-qiwi {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 50px;
  height: 30px;
}
.icon-raiffeisen {
  background-image: url(sprite.png);
  background-position: -50px -120px;
  width: 50px;
  height: 30px;
}
.icon-rapida {
  background-image: url(sprite.png);
  background-position: -100px -120px;
  width: 50px;
  height: 30px;
}
.icon-rbk {
  background-image: url(sprite.png);
  background-position: -150px 0px;
  width: 50px;
  height: 30px;
}
.icon-sberbank {
  background-image: url(sprite.png);
  background-position: -150px -30px;
  width: 50px;
  height: 30px;
}
.icon-skrill {
  background-image: url(sprite.png);
  background-position: -150px -60px;
  width: 50px;
  height: 30px;
}
.icon-sms {
  background-image: url(sprite.png);
  background-position: -150px -90px;
  width: 50px;
  height: 30px;
}
.icon-visa {
  background-image: url(sprite.png);
  background-position: -150px -120px;
  width: 50px;
  height: 30px;
}
.icon-vtb24 {
  background-image: url(sprite.png);
  background-position: 0px -150px;
  width: 50px;
  height: 30px;
}
.icon-walletone {
  background-image: url(sprite.png);
  background-position: -50px -150px;
  width: 50px;
  height: 30px;
}
.icon-webmoney {
  background-image: url(sprite.png);
  background-position: -100px -150px;
  width: 50px;
  height: 30px;
}
.icon-western-union {
  background-image: url(sprite.png);
  background-position: -200px 0px;
  width: 49px;
  height: 30px;
}
.icon-yandex {
  background-image: url(sprite.png);
  background-position: -150px -150px;
  width: 50px;
  height: 30px;
}
