<?php echo $header; ?>
<div class="container">
  <div class="baner">
    <div class="jumbo" id="jumbo">
      <div class="jumbo" id="jumbo2">
        <div class="span_baner">
         <!--  <img src="/image/catalog/bl-dora-kr-persik-siniy-goroh_1.jpg" width="400px">
          <img src="/image/catalog/bl-dora-kr-persik-siniy-goroh_2.jpg" width="400px">
          <img src="/image/catalog/bl-dora-kr-siniy-bel-goroh_3.jpg" width="400px">
          <img src="/image/catalog/bl-dora-kr-siniy-bel-goroh_4.jpg" width="400px"> -->
        </div>
      </div>
    </div>
  </div>

  <div class="row"><?php echo $column_left; ?>
    <?php if ($column_left && $column_right) { ?>
    <?php $class = 'col-sm-6'; ?>
    <?php } elseif ($column_left || $column_right) { ?>
    <?php $class = 'col-sm-9'; ?>
    <?php } else { ?>
    <?php $class = 'col-sm-12'; ?>
    <?php } ?>
    <!-- <div class="card" style="width: 18rem;">
  <img src="/image/catalog/bl-dora-kr-persik-siniy-goroh_1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->
    <div id="content" class="asdad"><?php echo $content_top; ?><?php echo $content_bottom; ?></div>
    <?php echo $column_right; ?></div>
</div>

<?php echo $footer; ?>