{{header}}
<div class="container">
	<ul class="breadcrumb {{'product/category' in menu_schema ? 'col-md-offset-3 col-lg-offset-3 col-xxl-offset-4'}}">
		{% for key, breadcrumb in breadcrumbs %}
			{% if i + 1 < breadcrumbs|length %}
				<li><a href="{{breadcrumb.href}}">{{breadcrumb.text}}</a></li>
			{% else %}
				<li>{{breadcrumb.text}}</li>
			{% endif %}
		{% endfor %}
	</ul>
	<div class="row">{{column_left}}
		{% if column_left and column_right %}
			{% set class = 'col-sm-4 col-md-6 col-lg-6 col-xxl-12' %}			
		{% elseif column_left or column_right %}
			{% if 'product/category' in menu_schema and column_right %}
				{% set class = 'col-sm-8 col-md-9 col-lg-6 col-xxl-12 col-md-offset-3 col-lg-offset-3 col-xxl-offset-4' %}
			{% else  %}
				{% set class = 'col-sm-8 col-md-9 col-lg-9 col-xxl-16' %}
			{% endif %}
		{% else  %}
			{% if 'product/category' in menu_schema %}
				{% set class = 'col-sm-12 col-md-9 col-lg-9 col-xxl-16 col-md-offset-3 col-lg-offset-3 col-xxl-offset-4' %}
			{% else  %}
				{% set class = 'col-sm-12' %}
			{% endif %}
		{% endif %}
		<div id="content" class="{{class}}">
			{{content_top}}
			<h1 class="heading"><span>{{heading_title}}</span></h1>
			{% if thumb or description %}
				<div class="category-info">
					{% if thumb %}
						<div class="image">
							<img src="{{thumb}}" alt="{{heading_title}}" title="{{heading_title}}" class="img-thumbnail" />
						</div>
					{% endif %}
					{% if description %}<div class="description">{{description}}</div>{% endif %}
				</div>
			{% endif %}
			{% if categories %}
				<div class="category-list row {{ subcategory_mobile_view == 'select' ? 'hidden-xs' }}">
					{% for category in categories %}
						<div class="category {{subcategory_column}}">
							<a href="{{category.href}}" class="image-after">
								{% if category.thumb %}<img src="{{category.thumb}}" alt="{{category.name}}" title="{{category.name}}" class="img-responsive {{ subcategory_mobile_view == 'imghide' ? 'hidden-xs' }}" />{% endif %}
								<p>{{category.name}}</p>
							</a>
						</div>
					{% endfor %}
				</div>
				{% if subcategory_mobile_view == 'select' %}
					<div class="visible-xs" style="margin:0 0 20px">
						<select id="input-sort" class="form-control" onchange="location = this.value;">
							<option value="">{{text_select_category}}</option>
							{% for category in categories %}
								<option value="{{category.href}}">{{category.name}}</option>
							{% endfor %}
						</select>
					</div>
				{% endif %}
			{% endif %}
			{% if products %}
				<div class="compare-block {{compare_btn_disabled ? 'hidden'}}"><a href="{{compare}}" id="compare-total" target="_blank"><i class="fas fa-align-right"></i>{{text_compare}}</a></div>
				<hr />
				<div class="row">
					<div class="col-sm-4 col-md-3 col-lg-3 hidden-xs">
						<div class="btn-group">
							{% if show_grid_button %}<button type="button" id="grid-view" class="btn btn-default" title="{{button_grid}}"><i class="fa fa-th-large"></i></button>{% endif %}
							{% if show_grid2_button %}<button type="button" id="grid2-view" class="btn btn-default visible-lg visible-xxl" title="{{button_grid}}"><i class="fa fa-th"></i></button>{% endif %}
							{% if show_list_button %}<button type="button" id="list-view" class="btn btn-default" title="{{button_list}}"><i class="fa fa-th-list"></i></button>{% endif %}
							{% if show_compact_button %}<button type="button" id="compact-view" class="btn btn-default" title="{{button_compact}}"><i class="fa fa-align-justify"></i></button>{% endif %}
						</div>
					</div>
					<div class="col-xs-6 col-sm-5 col-md-4 col-lg-4 col-xxl-5 col-md-offset-2 col-lg-offset-2 col-xxl-offset-5 text-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-sort"></i><span class="hidden-xs hidden-sm hidden-md">{{text_sort}}</span></span>
							<select id="input-sort" class="form-control" onchange="location = this.value;">
								{% for sorts in sorts %}
									{% if sorts.value == '%s-%s'|format(sort, order) %}
										<option value="{{sorts.href}}" selected="selected">{{sorts.text}}</option>
									{% else %}
										<option value="{{sorts.href}}">{{sorts.text}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xxl-5 text-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-eye"></i><span class="hidden-xs hidden-sm hidden-md">{{text_limit}}</span></span>
							<select id="input-limit" class="form-control" onchange="location = this.value;">
								{% for limits in limits %}
									{% if limits.value == limit %}
										<option value="{{limits.href}}" selected="selected">{{limits.text}}</option>
									{% else %}
										<option value="{{limits.href}}">{{limits.text}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<hr />
				<div class="products-block">
				<div class="row">
					{% if column_left and column_right %}
						{% set class = 'col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xxl-6-1' %}
					{% elseif column_left or column_right %}
						{% set class = 'col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xxl-5' %}
					{% else %}
						{% set class = 'col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xxl-4' %}
					{% endif %}
					{% for product in products %}
						<div class="product-layout product-grid {{class}}">
							<div class="product-thumb">
								<div class="image" {{product.special_date_end ? 'data-special-end="'~product.special_date_end~'"'}}>
									{% include 'unishop2/template/extension/module/uni_stickers.twig' %}	
									<a href="{{product.href}}">
										<img src="{{product.thumb}}" {{product.additional_image ? 'data-additional="'~product.additional_image~'"'}} alt="{{product.name}}" title="{{product.name}}" class="img-responsive" />
									</a>
								</div>
								<div class="caption">
									<a href="{{product.href}}">{{product.name}}</a>
									{% if product.show_description %}
										<p class="description">{{product.description}}</p>
									{% endif %}
									{% include 'unishop2/template/extension/module/uni_attributes.twig' %}
									{% include 'unishop2/template/extension/module/uni_options.twig' %}
									{% include 'unishop2/template/extension/module/uni_quantity_indicator.twig' %}
									{% if product.rating >= 0 and show_rating %}
										<div class="rating">
											{% for i in 1..5 %}
												<i class="{{product.rating < i ? 'far fa-star' : 'fa fa-star'}}"></i>
											{% endfor %} 
											{% if product.num_reviews > 0 %}<sup><a onclick="location='{{product.href}}#tab-review'">{{product.num_reviews}}</a></sup>{% endif %}
										</div>
									{% endif %}
									{% if product.price %}
										<p class="price" data-price="{{product.price_value}}" data-special="{{product.special_value}}" data-discount="{{product.discounts}}">
											{% if product.special is empty %}
												{{product.price}}
											{% else %}
												<span class="price-old">{{product.price}}</span> <span class="price-new">{{product.special}}</span> 
											{% endif %}
											{% if product.tax %}
												<span class="price-tax">{{text_tax}} {{product.tax}}</span>
											{% endif %}
										</p>
									{% endif %}
								</div>
								<div class="cart {{product.cart_btn_class}}">
									{% if product.show_quantity %}
										<div class="quantity">
											<input type="text" name="quantity" value="{{product.minimum}}" data-minimum="{{product.minimum}}" class="form-control" />
											<span>
												<i class="fa fa-plus btn btn-default"></i>
												<i class="fa fa-minus btn btn-default"></i>
											</span>
										</div>
									{% endif %}
									<button type="button" class="add_to_cart btn {{product.cart_btn_class}} {{product.product_id}}" title="{{product.cart_btn_text}}" onclick="cart.add({{product.product_id}}, this)"><i class="{{product.cart_btn_icon}}"></i><span class="hidden-sm hidden-md">{{product.cart_btn_text}}</span></button>
									<button type="button" class="quick_order btn {{not product.quick_order ? 'hidden'}}" data-toggle="tooltip" title="{{quick_order_title}}" onclick="quick_order('{{product.product_id}}');"><i class="{{quick_order_icon}}"></i>{% if show_quick_order_text %}<span class="hidden-sm">{{quick_order_title}}</span>{% endif %}</button>
									<button type="button" class="wishlist btn {{wishlist_btn_disabled ? 'hidden'}}" data-toggle="tooltip" title="{{button_wishlist}}" onclick="wishlist.add('{{product.product_id}}');"><i class="fa fa-heart"></i></button>
									<button type="button" class="compare btn {{compare_btn_disabled ? 'hidden'}}" data-toggle="tooltip" title="{{button_compare}}" onclick="compare.add('{{product.product_id}}');"><i class="fas fa-align-right"></i></button>
								</div>
							</div>
						</div>
					{% endfor %}
					<script>
						uniSelectView.init();
						
						{% if show_timer %}
						$('.product-layout .image').each(function() {
							var date = $(this).attr('data-special-end');
			
							if(date) {
								$(this).uniTimer({
									date      :''+date+'',
									texts     :['{{text_special_day}}','{{text_special_hour}}','{{text_special_min}}','{{text_special_sec}}'],
									hideText  :false,
									hideIsNull:false
								});
							}
						});
						{% endif %}
					</script>
				</div>
				</div>
				<div class="pagination_wrap">
					<div>{{pagination}}</div>
			        <div>{{results}}</div>
				</div>
			{% endif %}
			{% if not categories and not products %}
				<p>{{text_empty}}</p>
			{% endif %}
			<div id="category-info-bottom"></div>
			{{content_bottom}}
		</div>
		{{column_right}}
	</div>
</div>
<script>
	{{categories ? 'autoheight(".category-list p");'}}
	{{cat_desc_pos == 'bottom' ? '$("#category-info-bottom").append($(".category-info"));'}}
</script>

<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "BreadcrumbList",
		"itemListElement": [
		{% for i, breadcrumb in breadcrumbs %}
			{
			"@type": "ListItem",
			"position": {{i+1}},
			"name": "{{i == 0 ? shop_name: breadcrumb.text}}",
			"item": "{{breadcrumb.href}}"
			{{i + 1 < breadcrumbs|length ? '},' : '}' }}
		{% endfor %}
		]
	}
</script>
{{footer}}