{{header}}
<div class="container">
	<ul class="breadcrumb {{'product/search' in menu_schema ? 'col-md-offset-3 col-lg-offset-3 col-xxl-offset-4'}}">
		{% for key, breadcrumb in breadcrumbs %}
			{% if key+1 < breadcrumbs|length %}
				<li><a href="{{breadcrumb.href}}">{{breadcrumb.text}}</a></li>
			{% else %}
				<li>{{breadcrumb.text}}</li>
			{% endif %}
		{% endfor %}
	</ul>
	<div class="row">
		{{column_left}}
		{% if column_left and column_right %}
			{% set class = 'col-sm-4 col-md-4 col-lg-6 col-xxl-12' %}			
		{% elseif column_left or column_right %}
			{% if 'product/search' in menu_schema and column_right %}
				{% set class = 'col-sm-8 col-md-9 col-lg-6 col-xxl-12 col-md-offset-3 col-lg-offset-3 col-xxl-offset-4' %}
			{% else  %}
				{% set class = 'col-sm-8 col-md-9 col-lg-9 col-xxl-16' %}
			{% endif %}
		{% else  %}
			{% if 'product/search' in menu_schema %}
				{% set class = 'col-sm-12 col-md-9 col-lg-9 col-xxl-16 col-md-offset-3 col-lg-offset-3 col-xxl-offset-4' %}
			{% else  %}
				{% set class = 'col-sm-12' %}
			{% endif %}
		{% endif %}
		<div id="content" class="{{class}}">
			{{content_top}}
			<h1 class="heading"><span>{{heading_title}}</span></h1>
			<div class="row">
				<div class="col-sm-8"><input type="text" name="search" value="{{search}}" placeholder="{{text_keyword}}" id="input-search" class="form-control" /></div>
				<div class="col-sm-3">
					<select name="category_id" class="form-control">
						<option value="0">{{text_category}}</option>
						{% for category_1 in categories %}
							{% if category_1.category_id == category_id %}
								<option value="{{category_1.category_id}}" selected="selected">{{category_1.name}}</option>
							{% else %}
								<option value="{{category_1.category_id}}">{{category_1.name}}</option>
							{% endif %}
							{% for category_2 in category_1.children %}
								{% if category_2.category_id == category_id %}
									<option value="{{category_2.category_id}}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{category_2.name}}</option>
								{% else %}
									<option value="{{category_2.category_id}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{category_2.name}}</option>
								{% endif %}
								{% for category_3 in category_2.children %}
									{% if category_3.category_id == category_id %}
										<option value="{{category_3.category_id}}" selected="selected">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{category_3.name}}</option>
									{% else %}
										<option value="{{category_3.category_id}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{category_3.name}}</option>
									{% endif %}
								{% endfor %}
							{% endfor %}
						{% endfor %}
					</select>
				</div>
				<div class="col-sm-1">
					<input type="button" value="{{button_search}}" id="button-search" class="btn btn-primary" />
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-sm-3">
					<label class="checkbox-inline input">
						<input type="checkbox" name="sub_category" value="1" {% if sub_category %}checked="checked"{% endif %} /><span></span>{{text_sub_category}}
					</label>
				</div>
				<div class="col-sm-3">
					<label class="checkbox-inline input">
						<input type="checkbox" name="description" value="1" id="description" {% if description %}checked="checked"{% endif %} /><span></span>{{entry_description}}
					</label>
				</div>
			</div>
			<hr />
			<div class="heading"><span>{{text_search}}</span></div>
			{% if products %}
				<div class="compare-block {{compare_btn_disabled ? 'hidden'}}"><a href="{{compare}}" id="compare-total" target="_blank"><i class="fas fa-align-right"></i>{{text_compare}}</a></div>
				<div class="row">
					<div class="col-xs-12"><hr /></div>
					<div class="col-sm-4 col-md-3 col-lg-3 hidden-xs">
						<div class="btn-group">
							{% if show_grid_button %}<button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{button_grid}}"><i class="fa fa-th"></i></button>{% endif %}
							{% if show_list_button %}<button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{button_list}}"><i class="fa fa-th-list"></i></button>{% endif %}
							{% if show_compact_button %}<button type="button" id="compact-view" class="btn btn-default" data-toggle="tooltip" title="{{button_compact}}"><i class="fa fa-align-justify"></i></button>{% endif %}
						</div>
					</div>
					<div class="col-xs-6 col-sm-5 col-md-4 col-lg-4 col-xxl-5 col-md-offset-2 col-lg-offset-2 col-xxl-offset-5 text-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-sort"></i><span class="hidden-xs hidden-sm hidden-md">{{text_sort}}</span></span>
							<select id="input-sort" class="form-control" onchange="location = this.value;">
								{% for sorts in sorts %}
									{% if sorts.value == '%s-%s'|format(sort, order) %}
										<option value="{{sorts.href}}" selected="selected">{{sorts.text}}</option>
									{% else %}
										<option value="{{sorts.href}}">{{sorts.text}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 col-xxl-5 text-right">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-eye"></i><span class="hidden-xs hidden-sm hidden-md">{{text_limit}}</span></span>
							<select id="input-limit" class="form-control" onchange="location = this.value;">
								{% for limits in limits %}
									{% if limits.value == limit %}
										<option value="{{limits.href}}" selected="selected">{{limits.text}}</option>
									{% else %}
										<option value="{{limits.href}}">{{limits.text}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-xs-12"><hr /></div>
				</div>
				<div class="products-block">
				<div class="row">
					{% if column_left and column_right %}
						{% set class = 'col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xxl-6-1' %}
					{% elseif column_left or column_right %}
						{% set class = 'col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xxl-5' %}
					{% else %}
						{% set class = 'col-xs-12 col-sm-6 col-md-3 col-lg-3 col-xxl-4' %}
					{% endif %}
					{% for product in products %}
						<div class="product-layout product-grid {{class}}">
							<div class="product-thumb">
								<div class="image" {{product.special_date_end ? 'data-special-end="'~product.special_date_end~'"'}}>
									{% include 'unishop2/template/extension/module/uni_stickers.twig' %}	
									<a href="{{product.href}}">
										<img src="{{product.thumb}}" {{product.additional_image ? 'data-additional="'~product.additional_image~'"'}} alt="{{product.name}}" title="{{product.name}}" class="img-responsive" />
									</a>
								</div>
								<div class="caption">
									<a href="{{product.href}}">{{product.name}}</a>
									{% if product.show_description %}
										<p class="description">{{product.description}}</p>
									{% endif %}
									{% include 'unishop2/template/extension/module/uni_attributes.twig' %}
									{% include 'unishop2/template/extension/module/uni_options.twig' %}
									{% include 'unishop2/template/extension/module/uni_quantity_indicator.twig' %}
									{% if product.rating >= 0 and show_rating %}
										<div class="rating">
											{% for i in 1..5 %}
												<i class="{{product.rating < i ? 'far' : 'fa'}} fa-star"></i>
											{% endfor %} 
											{% if product.num_reviews > 0 %}<sup><a onclick="location='{{product.href}}#tab-review'">{{product.num_reviews}}</a></sup>{% endif %}
										</div>
									{% endif %}
									{% if product.price %}
										<p class="price" data-price="{{product.price_value}}" data-special="{{product.special_value}}" data-discount="{{product.discounts}}">
											{% if product.special %}
												<span class="price-old">{{product.price}}</span> <span class="price-new">{{product.special}}</span> 
											{% else %}
												{{product.price}}
											{% endif %}
											{% if product.tax %}
												<span class="price-tax">{{text_tax}} {{product.tax}}</span>
											{% endif %}
										</p>
									{% endif %}
								</div>
								<div class="cart {{product.cart_btn_class}}">
									{% if product.show_quantity %}
										<div class="quantity">
											<input type="text" name="quantity" value="{{product.minimum}}" data-minimum="{{product.minimum}}" class="form-control" />
											<span>
												<i class="fa fa-plus btn btn-default"></i>
												<i class="fa fa-minus btn btn-default"></i>
											</span>
										</div>
									{% endif %}
									<button type="button" class="add_to_cart btn {{product.cart_btn_class}} {{product.product_id}}" title="{{product.cart_btn_text}}" onclick="cart.add({{product.product_id}}, this)"><i class="{{product.cart_btn_icon}}"></i><span class="hidden-sm hidden-md">{{product.cart_btn_text}}</span></button>
									<button type="button" class="quick_order btn {{not product.quick_order ? 'hidden'}}" data-toggle="tooltip" title="{{quick_order_title}}" onclick="quick_order('{{product.product_id}}');"><i class="{{quick_order_icon}}"></i>{% if show_quick_order_text %}<span class="hidden-sm hidden-md">{{quick_order_title}}</span>{% endif %}</button>
									<button type="button" class="wishlist btn {{wishlist_btn_disabled ? 'hidden'}}" data-toggle="tooltip" title="{{button_wishlist}}" onclick="wishlist.add('{{product.product_id}}');"><i class="fa fa-heart"></i></button>
									<button type="button" class="compare btn {{compare_btn_disabled ? 'hidden'}}" data-toggle="tooltip" title="{{button_compare}}" onclick="compare.add('{{product.product_id}}');"><i class="fas fa-align-right"></i></button>
								</div>
							</div>
						</div>
					{% endfor %}
					<script type="text/javascript">
						uniSelectView.init();
					
						{% if show_timer %}
						$('.product-layout .image').each(function() {
							var date = $(this).attr('data-special-end');
			
							if(date) {
								$(this).uniTimer({
									date      :''+date+'',
									texts     :['{{text_special_day}}','{{text_special_hour}}','{{text_special_min}}','{{text_special_sec}}'],
									hideText  :false,
									hideIsNull:false
								});
							}
						});
						{% endif %}
					</script>
				</div>
				</div>
				<div class="pagination_wrap row">
					<div class="col-xs-12">{{pagination}}</div>
			        <div class="col-xs-12">{{results}}</div>
				</div>
			{% else %}
				<p>{{text_empty}}</p>
			{% endif %}
			{{content_bottom}}
		</div>
		{{column_right}}
	</div>
</div>
<script type="text/javascript"><!--
$('#button-search').bind('click', function() {
	url = 'index.php?route=product/search';

	var search = $('#content input[name=\'search\']').prop('value');

	if (search) {
		url += '&search=' + encodeURIComponent(search);
	}

	var category_id = $('#content select[name=\'category_id\']').prop('value');

	if (category_id > 0) {
		url += '&category_id=' + encodeURIComponent(category_id);
	}

	var sub_category = $('#content input[name=\'sub_category\']:checked').prop('value');

	if (sub_category) {
		url += '&sub_category=true';
	}

	var filter_description = $('#content input[name=\'description\']:checked').prop('value');

	if (filter_description) {
		url += '&description=true';
	}

	location = url;
});

$('#content input[name=\'search\']').bind('keydown', function(e) {
	if (e.keyCode == 13) {
		$('#button-search').trigger('click');
	}
});

$('select[name=\'category_id\']').on('change', function() {
	if (this.value == '0') {
		$('input[name=\'sub_category\']').prop('disabled', true);
	} else {
		$('input[name=\'sub_category\']').prop('disabled', false);
	}
});

$('select[name=\'category_id\']').trigger('change');
--></script>
{{footer}}