{{header}}
<div class="container">
	<ul class="breadcrumb {{'product/reviews' in menu_schema ? 'col-md-offset-3 col-lg-offset-3 col-xxl-offset-4'}}">
		{% for key, breadcrumb in breadcrumbs %}
			{% if i + 1 < breadcrumbs|length %}
				<li><a href="{{breadcrumb.href}}">{{breadcrumb.text}}</a></li>
			{% else %}
				<li>{{breadcrumb.text}}</li>
			{% endif %}
		{% endfor %}
	</ul>
	<div class="row">
		{{column_left}}
		{% if column_left and column_right %}
			{% set class = 'col-sm-4 col-md-4 col-lg-6 col-xxl-12' %}			
		{% elseif column_left or column_right %}
			{% if 'product/reviews' in menu_schema and column_right %}
				{% set class = 'col-sm-8 col-md-9 col-lg-6 col-xxl-12 col-md-offset-3 col-lg-offset-3 col-xxl-offset-4' %}
			{% else  %}
				{% set class = 'col-sm-8 col-md-9 col-lg-9 col-xxl-16' %}
			{% endif %}
		{% else  %}
			{% if 'product/reviews' in menu_schema %}
				{% set class = 'col-sm-12 col-md-9 col-lg-9 col-xxl-16 col-md-offset-3 col-lg-offset-3 col-xxl-offset-4' %}
			{% else  %}
				{% set class = 'col-sm-12' %}
			{% endif %}
		{% endif %}
		<div id="content" class="{{class}}">
			{{content_top}}
			<h1 class="heading"><span>{{heading_title}}</span></h1>
			{% if reviews %}
				<div class="products-block">
				<div class="row">
					{% for review in reviews %}
						<div class="product-layout2 product-grid col-xs-12 col-sm-3 col-xxl-4">
							<div class="product-thumb transition">
								<div class="image">
									<a href="{{review.prod_href}}"><img src="{{review.prod_thumb}}" alt="{{review.prod_name}}" title="{{review.prod_name}}" class="img-responsive" /></a>
								</div>
								<div class="caption">
									<a href="{{review.prod_href}}">{{review.prod_name}}</a>
									{% if review.rating %}
										<div class="rating">
											{% for i in 1..5 %}
												<i class="{{review.rating < i ? 'far fa-star' : 'fa fa-star'}}"></i>
											{% endfor %}
										</div>
									{% endif %}
									<p class="description">{{review.description}}</p>
									<div class="reviews-sign">
										<div class="reviews-author">{{review.author}}</div>
										<div class="reviews-date">{{review.date_added}}</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
					<script>
						uniSelectView.init();
					</script>
				</div>
				</div>
				<div class="pagination_wrap row">
					<div class="col-xs-12">{{pagination}}</div>
			        <div class="col-xs-12">{{results}}</div>
				</div>
			{% else %}
				<p>{{text_empty}}</p>
			{% endif %}
			{{content_bottom}}
		</div>
		{{column_right}}
	</div>
</div>
{{footer}}