{% if product.attributes %}
	<div class="attribute description">
		{% for attribute in product.attributes %}
			{{show_attr_name ? attribute.name~':' : ''}} <span class="attr_value">{{attribute.text}}</span>
		{% endfor %}
	</div>
{% endif %}