{% if categories %}
	<div class="heading"><span>{{heading_title}}</span></div>
	<div class="uni-category-wall row">
		{% for category in categories %}
			<div class="item {{ category.childs ? 'childs' }} {{columns}}">
				{% if category.image %}
					<a href="{{category.href}}" class="image image-after">
						<img src="{{category.image}}" alt="{{category.name}}" class="img-responsive" />
						<span class="btn btn-primary">{{category.name}}</span>
					</a>
				{% endif %} 
				{% if category.childs %}
					<ul class="child">
						{% for child in category.childs %}
							<li><a href="{{child.href}}">{{child.name}}</a>
						{% endfor %}
					</ul>
				{% endif %} 
			</div>
		{% endfor %}
	</div>
	<script>
		autoheight('.uni-category-wall .item .child');
	</script>
{% endif %} 