{% if product.stickers %}
	<div class="sticker">
		{% for sticker in product.stickers %}
			<div class="{{sticker.name}}">{{sticker.text}} {{sticker.value}} {{sticker.text_after}}</div>
		{% endfor %}
	</div>
{% endif %}