<div id="modal-quick-order" class="modal fade">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{name}}</h4>
			</div>
			<div id="quick_order" class="modal-body product-block">
				<div class="row">
					<div class="image col-xs-12 col-sm-4 col-md-5">
						{% include 'unishop2/template/extension/module/uni_stickers.twig' %}
						{% if thumb %}
							<div class="image-after"><img src="{{thumb}}" title="{{name}}" alt="{{name}}" class="img-responsive" /></div>
						{% endif %}
						{% if images %}
							<div class="image-additional">
								<div class="col-xs-3 col-sm-4">
									<img src="{{small}}" data-image="{{thumb}}" alt="" class="img-responsive" />
								</div>
								{% for image in images %}
									<div class="col-xs-3 col-sm-4"><img src="{{image.small}}" data-image="{{image.thumb}}" alt="" class="img-responsive" /></div>
								{% endfor %}
							</div>
						{% endif %}
					</div>
					<div class="name col-xs-12 col-sm-8 col-md-7">
						<hr class="visible-xs" />
						<div class="row">
						<div class="product-data">
							{% if show_model %}<div class="col-xs-6"><span>{{text_model}}</span></div><div class="col-xs-6" itemprop="model">{{model}}</div>{% endif %}
							{% if sku %}<div class="col-xs-6"><span>{{text_sku}}:</span></div><div class="col-xs-6" itemprop="sku">{{sku}}</div>{% endif %}
							{% if show_manuf and manufacturer %}<div class="col-xs-6"><span>{{text_manufacturer}}</span></div><div class="col-xs-6"><a href="{{manufacturers}}"><span itemprop="brand">{{manufacturer}}</span></a></div>{% endif %}
							{% if location %}<div class="col-xs-6"><span>{{text_location}}:</span></div><div class="col-xs-6">{{location}}</div>{% endif %}
							{% if show_cat %}<div class="col-xs-6"><span>{{text_category}}</span></div><div class="col-xs-6"><a href="{{category_href}}">{{category_name}}</a></div>{% endif %}
							{% if reward and show_reward == 1 or show_reward == 3 %}<div class="col-xs-6"><span>{{text_reward}}</span></div><div class="col-xs-6">{{reward}}</div>{% endif %}
							{% if points and show_reward == 2 or show_reward == 3 %}<div class="col-xs-6"><span>{{text_points}}</span></div><div class="col-xs-6">{{points}}</div>{% endif %}
							{% if upc %}<div class="col-xs-6"><span>{{text_upc}}:</span></div><div class="col-xs-6">{{upc}}</div>{% endif %}
							{% if ean %}<div class="col-xs-6"><span>{{text_ean}}:</span></div><div class="col-xs-6">{{ean}}</div>{% endif %}
							{% if jan %}<div class="col-xs-6"><span>{{text_jan}}:</span></div><div class="col-xs-6">{{jan}}</div>{% endif %}
							{% if isbn %}<div class="col-xs-6"><span>{{text_isbn}}:</span></div><div class="col-xs-6">{{isbn}}</div>{% endif %}
							{% if mpn %}<div class="col-xs-6"><span>{{text_mpn}}:</span></div><div class="col-xs-6">{{mpn}}</div>{% endif %}
							{% if not product.quantity_indicator %}<div class="col-xs-6"><span>{{text_stock}}</span></div><div class="col-xs-6">{{stock}}</div>{% endif %}
							{% if show_length == 1 %}
								{% if length %}<div class="col-xs-6"><span>{{text_length}}</span></div><div class="col-xs-6">{{length}}</div>{% endif %}
								{% if weight %}<div class="col-xs-6"><span>{{text_weight}}</span></div><div class="col-xs-6">{{weight}}</div>{% endif %}
							{% endif %}
						</div>
						</div>
						{% if product.quantity_indicator %}
							<hr />
							{% include 'unishop2/template/extension/module/uni_quantity_indicator.twig' %}
						{% endif %}
						{% if special_timer %}
							<hr />
							<div class="special-timer">
								<div class="heading"><span>{{text_special_timer}}</span></div>
							</div>
							<div class="clearfix"></div>
						{% endif %}
						{% if price %}
							<hr />
							<div class="price" data-price="{{price_value}}" data-special="{{special_value}}" data-discount="{{discounts_value}}">
								{% if special %}
									<span class="price-old">{{price}}</span> <span class="price-new">{{special}}</span>
								{% else %}
									{{price}}
								{% endif %}
							</div>
							{% if minimum > 1 %}
								<div class="alert alert-info minimum"><i class="fa fa-info-circle"></i> {{text_minimum}}</div>
							{% endif %}
							{% if discounts %}
								<div class="discount">
									<hr>
									{% for discount in discounts %}
										<span>{{discount.quantity}} {{text_discount}} {{discount.price}}</span>
									{% endfor %}
								</div>
							{% endif %}
						{% endif %}
					</div>
				</div>
				{% if show_attr and attribute_groups %}
					<hr class="visible-xs" />
					<h5 class="heading"><span>{{text_attributes}}</span></h5>
					<div class="row">
						<div class="product-data attribute">
							{% for attribute in attribute_groups %}
								<div class="col-xs-6"><span>{{attribute.name}}</span></div>
								<div class="col-xs-6">{{attribute.text}}</div>
							{% endfor %}
							{% if show_length == 2 %}
								{% if length %}<div class="col-xs-6"><span>{{text_length}}</span></div><div class="col-xs-6">{{length}}</div>{% endif %}
								{% if weight %}<div class="col-xs-6"><span>{{text_weight}}</span></div><div class="col-xs-6">{{weight}}</div>{% endif %}
							{% endif %}
						</div>
					</div>
				{% endif %}
				{% if description_on %}
					<h5 class="heading"><span>{{text_description}}</span></h5>
					<div class="description">{{description}} <a href="{{href}}" title="">{{text_more}}</a></div>
				{% endif %}
				<div class="row">
					<div class="options option col-xs-12">
						{% if options %}
							<h5 class="heading"><span>{{text_option}}</span></h5>
							{% for option in options %}
								{% if option.type == 'select' %}
									<div class="form-group {{option.required ? 'required'}} options_select col-xs-12 col-sm-6">
										<label class="control-label" for="input-option{{option.product_option_id}}">{{option.name}}</label>
										<select name="option[{{option.product_option_id}}]" id="input-option{{option.product_option_id}}" class="form-control">
											<option value="">{{text_select}}</option>
										{% for option_value in option.product_option_value %}
											<option value="{{option_value.product_option_value_id}}" data-prefix="{{option_value.price_prefix}}" data-price="{{option_value.price_value}}">{{option_value.name}} {% if option_value.price %}({{option_value.price_prefix}}{{option_value.price}}){% endif %}</option>
										{% endfor %}
										</select>
									</div>
								{% endif %}
								{% if option.type == 'radio' %}
									<div class="form-group {{option.required ? 'required'}} col-xs-12">
										<label class="control-label">{{option.name}}</label>
										<div id="input-option{{option.product_option_id}}">
											{% for option_value in option.product_option_value %}
												<label class="input {{option_value.image ? 'option-image'}}">
													<input type="radio" name="option[{{option.product_option_id}}]" value="{{option_value.product_option_value_id}}" id="{{option.product_option_id}}_{{option_value.product_option_value_id}}" data-prefix="{{option_value.price_prefix}}" data-price="{{option_value.price_value}}" />
													{% if option_value.image %}
														<img src="{{option_value.image}}" alt="{{option_value.name}} {{option_value.price ? option_value.price_prefix ~ '' ~ option_value.price}}" data-type="quick-order" data-thumb="{{option_value.small}}" data-full="{{option_value.full}}" class="img-thumbnail" />
													{% else %}
														<span>{{option_value.name}} {% if option_value.price %}<span>({{option_value.price_prefix}}{{option_value.price}})</span>{% endif %}</span>
													{% endif %}
												</label>
											{% endfor %}
										</div>
									</div>
								{% endif %}
								{% if option.type == 'checkbox' %}
									<div class="form-group {{option.required ? 'required'}} col-xs-12">
										<label class="control-label">{{option.name}}</label>
										<div id="input-option{{option.product_option_id}}">
											{% for option_value in option.product_option_value %}
												<div class="checkbox radio">
													<label class="input">
														<input type="checkbox" name="option[{{option.product_option_id}}][]" value="{{option_value.product_option_value_id}}" id="{{option.product_option_id}}_{{option_value.product_option_value_id}}" data-prefix="{{option_value.price_prefix}}" data-price="{{option_value.price_value}}" />
														<span>{{option_value.name}} {% if option_value.price %}<span>({{option_value.price_prefix}}{{option_value.price}})</span>{% endif %}</span>
													</label>
												</div>
											{% endfor %}
											<div class="clearfix"></div>
										</div>
									</div>
								{% endif %}
								{% if option.type == 'text' %}
									<div class="form-group {{option.required ? 'required'}} col-xs-12">
										<label class="control-label" for="input-option{{option.product_option_id}}">{{option.name}}</label>
										<input type="text" name="option[{{option.product_option_id}}]" value="{{option.value}}" placeholder="{{option.name}}" id="input-option{{option.product_option_id}}" class="form-control" />
									</div>
								{% endif %}
								{% if option.type == 'textarea' %}
									<div class="form-group {{option.required ? 'required'}} col-xs-12">
										<label class="control-label" for="input-option{{option.product_option_id}}">{{option.name}}</label>
										<textarea name="option[{{option.product_option_id}}]" rows="5" placeholder="{{option.name}}" id="input-option{{option.product_option_id}}" class="form-control">{{option.value}}</textarea>
									</div>
								{% endif %}
								{% if option.type == 'file' %}
									<div class="form-group {{option.required ? 'required'}} col-xs-12">
										<label class="control-label">{{option.name}}</label>
										<button type="button" id="button-upload{{option.product_option_id}}" data-loading-text="{{text_loading}}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{button_upload}}</button>
										<input type="hidden" name="option[{{option.product_option_id}}]" value="" id="input-option{{option.product_option_id}}" />
									</div>
								{% endif %}
								{% if option.type == 'date' %}
									<div class="form-group {{option.required ? 'required'}} col-xs-12">
										<label class="control-label" for="input-option{{option.product_option_id}}">{{option.name}}</label>
										<div class="input-group date">
											<input type="text" name="option[{{option.product_option_id}}]" value="{{option.value}}" data-date-format="YYYY-MM-DD" id="input-option{{option.product_option_id}}" class="form-control" />
											<span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button></span>
										</div>
									</div>
								{% endif %}
								{% if option.type == 'datetime' %}
									<div class="form-group {{option.required ? 'required'}} col-xs-12">
										<label class="control-label" for="input-option{{option.product_option_id}}">{{option.name}}</label>
										<div class="input-group datetime">
											<input type="text" name="option[{{option.product_option_id}}]" value="{{option.value}}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{option.product_option_id}}" class="form-control" />
											<span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span>
										</div>
									</div>
								{% endif %}
								{% if option.type == 'time' %}
									<div class="form-group {{option.required ? 'required'}} col-xs-12">
										<label class="control-label" for="input-option{{option.product_option_id}}">{{option.name}}</label>
										<div class="input-group time">
											<input type="text" name="option[{{option.product_option_id}}]" value="{{option.value}}" data-date-format="HH:mm" id="input-option{{option.product_option_id}}" class="form-control" />
											<span class="input-group-btn"><button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button></span>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						{% endif %}
					</div>
				</div>
				<h5 class="heading"><span>{{text_contact_data}}</span></h5>
				<div class="row_input row">
					<form>
						<div class="col-sm-6 col-md-6">
							<input type="text" name="firstname" class="customer_name form-control" placeholder="{{name_text}}*" value="{{firstname}}" />
						</div>
						<div class="col-sm-6 col-md-6">
							<input type="text" name="phone" class="customer_phone form-control " placeholder="{{phone_text}}*" value="{{telephone}}" />
						</div>
						<div class="col-xs-12" style="margin:0 !important"></div>
						{% if mail %}
							<div class="col-sm-6 col-md-6">
								<input type="text" name="email" class="form-control" placeholder="{{mail_text}}" value="{{email}}" />
							</div>
						{% endif %}
						{% if delivery %}
							<div class="col-sm-6 col-md-6">
								<input type="text" name="address" class="form-control" placeholder="{{delivery_text}}" value="{{address}}" />
							</div>
						{% endif %}
						{% if comment %}
							<div class="{{delivery ? 'col-xs-12' : 'col-sm-6 col-md-6'}}">
								<input type="text" name="comment" class="form-control" placeholder="{{comment_text}}" />
							</div>
						{% endif %}
						<input type="hidden" name="comment2" value="" />
					</form>
				</div>
				<hr style="margin-top:0" />
				<div class="row">
					<div class="col-xs-12" style="text-align:center">
						{% if text_agree %}
							<div style="float:none; margin:0 0 10px">
								<label class="input"><input id="confirm" type="checkbox" name="confirm" value="1" /><span></span>{{text_agree}}</label>
							</div>
						{% endif %}
						<div class="add_quick_order form-group">
							<label class="control-label hidden-xs" for="input-quantity">{{entry_qty}}</label>
							<input type="hidden" name="product_id" value="{{product_id}}" />
							<div class="quantity">
								<input type="text" name="quantity" value="{{minimum}}" data-minimum="{{minimum}}" id="input-quantity" class="form-control" />
								<span>
									<i class="fa fa-plus btn btn-default"></i>
									<i class="fa fa-minus btn btn-default"></i>
								</span>
							</div>
							<button type="button" onclick="uniQuickOrderAdd()" data-loading-text="{{text_loading}}" class="add_to_cart btn btn-lg"><i class="{{cart_btn_icon}}"></i> <span>{{text_quickorder_button}}</span></button>
						</div>
					</div>
				</div>
				<input type="hidden" name="currency" value="{{currency}}" />
				<input type="hidden" name="goal_id" value="{{goal_id}}" />
				{% if options %}
					{% for option in options %}
						{% if option.type == 'date' or option.type == 'datetime' or option.type == 'time' %}
							<link type="text/css" href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" />
							<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js" type="text/javascript"></script>
							<script src="catalog/view/javascript/jquery/datetimepicker/moment/moment-with-locales.min.js" type="text/javascript"></script>
							<script src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
							<style>.bootstrap-datetimepicker-widget {z-index: 9999999999!important;position:absolute !important}</style>
							<script>
								$('.date').datetimepicker({
									pickTime: false
								});
								$('.datetime').datetimepicker({
									pickDate: true,
									pickTime: true
								});
								$('.time').datetimepicker({
									pickDate: false
								});
							</script>
						{% endif %}
					{% endfor %}
				{% endif %}
				<script>
				$(function() {
					$('#quick_order .image-additional img').each(function() {
						$(this).hover(function() {
							$('#quick_order .image-after img').attr('src', $(this).attr('data-image'))
						});
					});
					{% if change_opt_img_q %}		
						$('#quick_order .option-image img').on('click', function() {
							$('#quick_order .image-after img').attr('src', $(this).attr('data-thumb'));
						});
					{% endif %}
				});
				
				{% if special_timer %}
					$('#quick_order .special-timer').uniTimer({
						date      :'{{special_timer}}',
						texts     :['{{text_special_day}}','{{text_special_hour}}','{{text_special_min}}','{{text_special_sec}}'],
						hideText  :false,
						hideIsNull:false
					});
				{% endif %}
				
				$('body').on('focus', '.customer_phone', function(){
					$(this).mask('{{phone_mask}}');
				});
				</script>
			</div>
		</div>
	</div>
</div>